---
layout: post
title: "Akelarre" 
permalink: akelarre
---

<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Fiorella Carolina Coronel - fiorella.carolina.coronel@gmail.com</p>
    </div>

<div class="fichatecnica"> 
           <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/akelarre.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=XHM7KfiDtcA" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Akelarre</p>

       
        <h3>Año de Estreno</h3>
            <p>2020</p>

        <h3>Dirección</h3>
            <p>Pablo Agüero</p>

        <h3>País de Origen</h3>
            <p>España, Francia y Argentina</p>

        <h3>Productora</h3>
            <p>Coproducción España-Argentina-Francia; Sorgin Films, Tita Productions, Kowalski Films, Lamia Producciones, La Fidèle Production</p>

        <h3>Guión</h3>
            <p>Libro Original</p>

        <h3>Guionistas</h3>
            <p>Pablo Agüero y Katell Guillou</p>

        
        <h3>Género Cinematográfico</h3>
            <p>Drama</p>
          

        <h3>Fotografía</h3>
            <p>Javier Agirre Erauso</p>

        <h3>Música</h3>
            <p>Maite Arrotajauregi y Aránzazu Calleja</p>

        <h3>Premios y Nominaciones</h3>
            <p>
            <li>2020: Premios Goya: Mejor música, vestuario, maquillaje, dirección artística y ef. especiales. </li>
            <li>2020: Premios Feroz: 6 nominaciones, incluyendo Mejor película. </li>
            <li>2020: Festival de San Sebastián: Sección oficial largometrajes a concurso. </li>
            <li>2020: Premios Forqué: Nominada a Mejor película. </li>
            </p>

        </div>

        <div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>País Vasco, 1609. Los hombres de la región se han ido a la mar. Ana participa en una fiesta en el bosque con otras chicas de la aldea. El juez Rostegui, encomendado por el Rey para purificar la región, las hace arrestar y las acusa de brujería. Decide hacer lo necesario para que confiesen lo que saben sobre el Akelarre, ceremonia mágica durante la cual supuestamente el Diablo inicia a sus servidoras y se aparea con ellas.</p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>La historia transcurre en el año 1609 en el País Vasco Continental, particularmente en Lapurdi. En esta región, se van a desarrollar los años oscuros de la Inquisición, un período donde se llevó a cabo una cruel y sádica persecución de las mujeres que eran consideradas brujas</p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>La película se ubica en el siglo XVII, particularmente en el año 1609. Se ubica geográficamente en la región del País Vasco Continental (Lapurdi), durante el contexto de la famosa "caza de brujas", la persecución a mujeres llevada a cabo por la Inquisición, bajo sospecha de haber realizado el crimen de brujería.</p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>La película Akelarre fue filmada en el año 2020, en pleno contexto de la pandemia,  y fue mostrada en las pantallas el 11 de marzo del 2021. Fue estrenada a través de Netflix. Si bien no hay un número con exactitud de la cantidad de espectadores en el estreno, no quepan dudas de que el público masivo fue mayor al esperado. No hay registros de que la película haya recibido alguna censura para llevarla a cabo. Por último, entiendo que tiene un profundo posicionamiento político, de corte feminista, que critica el orden establecido.</p>

        <h3>Valoración crítica de la película</h3>
            <p>La película me gustó mucho. Me resultó muy interesante lo bien que retratan el ambiente en este film y de qué manera las imágenes nos devuelven los prejuicios contra la mujer, tanto antes como hoy en la actualidad.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>ROSENSTONE, Robert. 1997. El pasado en imágenes. El desafío del cine a nuestra idea del pasado. Barcelona, Ariel. </li>
                <li>SORLIN, Pierre. 2005. El cine, reto para el historiador. México, Ed. Centro de Investigación y Docencia Económicas, 25 pp. </li>
                <li>SUÁREZ, María Salomé. 2020. El poder de la bruja. El lado oculto de la transgresión femenina. Ciudad Autónoma de Buenos Aires, Ediciones Felicitas, 360 pp. </li>
                <li>SUÁREZ, María Salomé. 2021. Cuando el príncipe azul destiñe. Deconstrucción, reescritura y simbolismo de los cuentos infantiles. Ciudad Autónoma de Buenos Aires, Abarcar Ediciones, 280 pp. </li>

            </p>

            <div class="arriba"> 

                <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/akelarre">
               
                  <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
                   alt="ARRIBA" title="ARRIBA"></a>
  </div> 

    <div class="indice"> 
                <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
                 
                 <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
                  alt="INDICE" title="Indice"></a>
                </div> 
        </div>
        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>