---
layout: post
title: "Bienvenido Mr Marshall" 
permalink: Bienvenidomrmarshall
---
   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Camila Muiños - camimuinos@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/marshall.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=YzVBF0eVIpo&ab_channel=TELEPESSIC" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Bienvenido, Mister Marshall</p>

        <h3>Año de Estreno</h3>
            <p>1953</p>

        <h3>Dirección</h3>
            <p>Luis García Berlanga</p>

        <h3>País de Origen</h3>
            <p>España</p>

        <h3>Productora</h3>
            <p>UNINCI</p>

        <h3>Guión</h3>
            <p>Libro Original</p>

        <h3>Guionistas</h3>
            <p>Luis García Berlanga, Miguel Mihura, Juan Antonio Bardem</p>

        <h3>Género Cinematográfico</h3>
            <p>Drama</p>
            <p>Comedia</p>

        <h3>Fotografía</h3>
            <p>Manuel Berenguer</p>

        <h3>Música</h3>
            <p>Jesús García Leoz, José Antonio Ochaita, Xandro Valerio, Juan Solano Pedrero</p>

        <h3>Premios y Nominaciones</h3>
            <p>Premio a la mejor música y el mejor argumento original en la Novena edición de las Medallas del Círculo de Escritores Cinematográficos.</p>
            <li>Premio a la mejor comedia en el Festival de Cannes (1953).</li>
            <li> Mención especial al guion en el Festival de Cannes (1953).</li>

        </div>

        <div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>Los habitantes de Villar del Río, un pequeño pueblo del norte de España, se enteran de la llegada del plan Marshall: una ayuda económica que vendrá desde los Estados Unidos de Norteamérica e incluirá la visita de funcionarios públicos en suelo español. A partir de esto, el pueblo entero se prepara para la gran fiesta de recibimiento de Mister Marshall que requerirá apelar a los sentimientos nacionalistas más profundos.  Con el correr de los días, el pueblo se convierte en una representación estereotipada de sí mismo que pretende contentar a los invitados extranjeros. </p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Desde el punto de vista cinematográfico, el film alcanza su valor al estar a cargo de dos de los cineastas españoles más importantes y consagrados como son Berlanga y Bardem, junto con el comediógrafo más importante de la década del cincuenta, Mihura. Además, es posible ver en él las innovaciones técnicas en materia de cine que podían realizarse en el territorio español y que colocan a la producción de la península a la altura de grandes tradiciones como la italiana y francesa.
                Despierta un interés político y sociocultural, en tanto exhibe, por un lado, la crisis económica que atravesaba España por aquellos años y la necesidad de la asistencia internacional, al mismo tiempo que debía extremarse el fervor nacionalista. Por otro, resulta interesante observar los diferentes niveles de enunciación del film que le permitieron un gran recibimiento en espectadores con ideologías diversas y contrarias, así como el éxito dentro y fuera de España.</p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>El film hace referencia a un hecho histórico, pero no es su representación, sino su ausencia la que figura tematizada. El Plan Marshall como acontecimiento histórico acontecido entre 1948 y 1952 articula la trama del film, pero el conflicto y su desenlace quedan implicados precisamente en que éste nunca llega al pueblo, sino que solo es referido</p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>La obra fue estrenada en el momento en que España debía mostrarse al mundo como una nación moderna a pesar de vivir bajo un régimen dictatorial. La asistencia económica y la posibilidad de contar con el resto de Europa y Estados Unidos se volvía cada vez más urgente. Enseguida el cine surge como una buena posibilidad para reforzar valores nacionalistas que legitimen el gobierno de Franco y al mismo tiempo, mostrarse a la mirada extranjera a la altura de las circunstancias que el cambio de década y el fin de los conflictos bélicos requería. Muchas de las películas de estos años cumplieron esta doble función y así lograron sortear la censura. En este sentido, Bienvenido Mister Marshall se presenta como un ejemplo paradigmático de lo que grandes cineastas como Bardem y Berlanga eran capaces de hacer: plasmar en el cine todas las contradicciones de la sociedad de la época.
                Avalada en el emblemático Festival de Cannes, la película logró el éxito rotundo que esperaba fuera y dentro de España. Es importante destacar que fue consagrada tanto por públicos de derechas como de izquierdas, lo cual indica la forma en que sus guionistas lograron articular en un mismo film los más variados discursos y reivindicaciones. Por último, es importante reparar en los grandes clásicos del cine español y las condiciones que posibilitan su vigencia en nuestros días, pero también advertir el silenciamiento que muchas veces ocurre con la figura de Miguel Mihura, dramaturgo consagrado por aquellos años y también, falangista.</p>

        <h3>Valoración crítica de la película</h3>
            <p>Bienvenido Míster Marshall es una de las mejores películas españolas de la época y un clásico indiscutido del cine español en general. Pasado más de medio siglo, el film se mantiene vigente y logra entretener al público actual, ya que triunfa en articular las singularidades españolas con una forma narrativa al estilo de Hollywood, es decir, dinámica y episódica. Además, logra llevar al espectador desde la risa más auténtica que provocan las situaciones más absurdas a la amargura de un final angustiante y al mismo tiempo esperanzador. </p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                
            <li>Aragüez Rubio, Carlos. “Intelectuales y cine en el segundo franquismo: de las Conversaciones de
            Salamanca al nuevo cine español”. En: Historia del presente, No 5. Madrid, Eneida, 2005, Pp. 121-138. Disponible en: http://www.historiadelpresente.es/sites/default/files/revista/articulos/5/506intelectualesycineenelsegundofranquismodelasconversacionesdesalamancaalnuevocineespanol.pdf</li>
            
            <li>Cerón Gómez, Juan Francisco. “Las paradojas de la censura: Muerte de un ciclista (1955), de Juan Antonio Bardem”. En: Actas del VII Congreso de la A.E.H.C., Madrid, Academia de las Artes y Ciencias Cinematográficas de España, 1999. Pp. 125-140. Disponible en: http://www.cervantesvirtual.com/nd/ark:/59851/bmccc0z7. </li>
            <li>_____. “Las paradojas de la censura: Muerte de un ciclista (1955), de Juan Antonio Bardem”. En: Actas del VII Congreso de la A.E.H.C. Madrid, Academia de las Artes y Ciencias Cinematográficas de España, 1999. Pp. 125-140. Disponible en: http://www.cervantesvirtual.com/nd/ark:/59851/bmccc0z7. </li>
            
            <li>Di Febo, Giuliana y Santos Juliá. “I. El “Nuevo Estado” (1936-1945)” y “2. La hegemonía católica (1945-1957)”. En: El Franquismo. Barcelona, Paidós, 2005. Pp. 13-48 y 49-86. </li>
    
            </p>
    
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/marshall2.jpg/>
                    <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

                    <div class="arriba"> 
                        <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/Bienvenidomrmarshall">
                                      
                          <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
                           alt="ARRIBA" title="ARRIBA"></a>
                    </div> 
        
        
              <!--  NO MODIFICAR -->
            <div class="indice"> 
          
                        <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
                         
                         <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
                          alt="INDICE" title="Indice"></a>
                        </div> 
        </div>


        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>