---
layout: post
title: "Brazil" 
permalink: Brazil
---

  

   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Carla D'ovidio - carladovidio99@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/brazil.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=ZKPFC8DA9_8&ab_channel=MovieclipsClassicTrailers" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Brazil</p>

        <h3>Título de la película. (en español)</h3>
            <p>Brasil </p>

        <h3>Año de Estreno</h3>
            <p>1985</p>

        <h3>Dirección</h3>
            <p>Terry Gilliam</p>

        <h3>País de Origen</h3>
            <p>Reino Unido - Estados Unidos</p>

        <h3>Productora</h3>
            <p>Embassy International Pictures</p>

        <h3>Guión</h3>
            <p>Libro Orginal</p>

        <h3>Guionistas</h3>
            <p>Terry Gilliam - Tom Stoppard - Charles McKeown</p>

        <h3>Género Cinematográfico</h3>
            <p>Drama</p>
            <p>Distópico</p>
            <p>Ciencia Ficción</p>

        <h3>Fotografía</h3>
            <p>Roger Pratt</p>

        <h3>Música</h3>
            <p>Michael Kamen </p>

        <h3>Premios y Nominaciones</h3>
             <p><li>Nominación al Oscar como Mejor Guion Original y Dirección Artística</li>
                <li>Premio BAFTA a los Mejores Efectos Visuales (1986)</li>
                <li>Premio BAFTA al Mejor Diseño de Producción (1986)</li>
                <li>Premio de la Asociación de Críticos de Cine de Los Ángeles al Mejor Director (1985)</li>
                <li>Premio de la Asociación de Críticos de Cine de Los Ángeles a la Mejor Película (1985)</li>
                <li>Premio de la Asociación de Críticos de Cine de Los Ángeles a Mejor Guion (1985)</li> </p>
            </div>

            <div class="fichasinopsis"> 
            
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>Sam Lowry (Jonathan Pryce) es un hombre común que de día trabaja para el Ministerio de Información y por las noches sueña con que es un héroe alado y como tal, tiene la misión de salvar a la mujer de sus sueños (Kim Greist). Debido a un error tipográfico termina encontrando a su amada en la vida real y decide aceptar su ascenso para así obtener más información de ella y salvarla del sistema. Iniciada su búsqueda, en el camino, forjará una amistad con Harry Tuttle (Robert de Niro) y terminará siendo considerado una amenaza para el sistema en el que vivía.</p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Resulta de interés poder reconstruir la dimensión política y social de Brazil por medio de ciertos conceptos teóricos. A partir del concepto de "amigo-enemigo" y de "Estado total" de Carl Schmitt se puede entender la esencia y la dinámica de la sociedad y como esta se construye en torno a la existencia de un enemigo público. En la película no se deja en claro quién es el verdadero responsable tras los atentados ya que podría interpretarse que el mismo Estado era el responsable y no el enemigo público. A partir del concepto “efecto panóptico” de Michael Foucault se puede analizar cómo la sociedad es vigilada y controlada por el Estado y al mismo tiempo, cómo la misma sociedad termina vigilándose entre sí. 
                Desde el lado cinematográfico resulta interesante por cómo están desarrollados los elementos distópicos y de ciencia ficción. Como también es de interés pensarlo desde la perspectiva del director ya que el género distópico es frecuente dentro de la filmografía de Terry Gilliam.</p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>La película determina que los hechos ocurren en “algún lugar en el siglo XX”. Esta indeterminación espacio-temporal, sumado a que pertenece al género distópico, permite centrarse en el análisis político-social del contexto de producción de la película. 
                Brazil es estrenada en el año 1985 en un mundo todavía atormentado por la Guerra Fría y por los recuerdos recientes de las dictaduras latinoamericanas. Consigue retratar la esencia de la sociedad de ese entonces ya que logra mostrar su lado consumista y superficial como también ver las tensiones provocadas por la división entre una clase alta poseedora de poder y una clase baja que es víctima del Estado y de sus funcionarios. Como también enfatiza en la violencia ejercida desde el Estado hacia las masas y la violencia ejercida entre los habitantes de la sociedad. Aunque en la realidad, este clima de violencia también era experimentado por las instituciones, los funcionarios públicos y las figuras populares.</p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>En las páginas populares de puntuación, Brazil actualmente cuenta con un 98% de la crítica y 90% del público en Rotten Tomatoes y un 7.9/10 en IMDb. Tuvo una buena recepción por parte de los críticos norteamericanos. El diario New York Times declaró "Brasil, de Terry Gilliam, es una ingeniosa observación de un futuro extremadamente sombrío. Es un magnífico ejemplo del poder de la comedia para subrayar ideas serias, incluso solemnes” (18/05/85) y la revista Variety mencionó “Brasil ofrece una visión escalofriantemente divertida del futuro cercano, ambientada "en algún lugar del siglo XX"” (31/12/84).
                Tuvo ciertas complicaciones meses antes de su estreno programado para fines de 1984 en Estado Unidos. El director y la distribuidora Universal Studios discutieron en torno a la duración y el final de la misma. La distribuidora argumentaba que la duración final de la película no era la acordada en el contrato y no podían exhibirla porque el público norteamericano no iría a verla y esperaban que tuviera un final más esperanzador. Sin acuerdo, Gilliam inició una serie de exhibiciones clandestinas de la película y es así como la Asociación de Críticos de Los Ángeles le terminó otorgando los premios de mejor película, mejor director y mejor guion en 1985. Frente a este reconocimiento, Universal Studios decidió estrenarla por una semana en los cines de Nueva York para así poder ser considerada por los premios Oscar antes de que terminara el año. Luego, se fue programando su estreno en distintos estados.  
                Con respecto a la repercusión, es considerada una película de culto y más dentro de los fans del director. Se podría decir que tuvo relevancia en Estados Unidos por el caso de Timothy Mc Veigh. En 1995, el terrorista atentó contra un edificio federal en Oklahoma, el cual causó 168 muertes y más de 500 heridos. La conexión con la película era que el nombre de guerra de Mc Veigh era "Tim Buttle", en honor al mecánico-terrorista personificado por Robert de Niro. </p>

        <h3>Valoración crítica de la película</h3>
            <p>La escenografía, el diálogo, los planos como también la música ayudan a la construcción del universo y permiten que el espectador pueda sumergirse y desentrañar su lógica, no sin antes inquietarse de lo que observa. Brazil logra capturar la esencia de la sociedad de ese entonces. Una sociedad sumergida en la violencia, no sólo militar sino simbólica. Una sociedad superficial, consumista e inhibida de sus emociones que solo podía liberarse verdaderamente alcanzando un estado de locura. Una sociedad sin salvación porque incluso los niños, el elemento más puro de una sociedad, estaban corrompidos</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Casado Díaz, Óscar. (noviembre 2009). Brazil. Revista Hélice, pp.87-89. Recuperado de https://dialnet.unirioja.es/servlet/articulo?codigo=7740059 </li>
                <li>Mancebo Roca, Juan Agustín (Ed.). (2010). Terry Gilliam: el desafío de la imaginación. Madrid, España. </li>
                <li>Mathews, Jack. (05/11/85). DIRECTOR VS. STUDIO CHIEF: THE BATTLE TO RELEASE ‘BRAZIL’: Terry Gilliam’s film could serve as a textbook model for examining the conflict of art and commerce in Hollywood. Los Angeles Times. Recuperado de https://www.latimes.com/archives/la-xpm-1985-11-05-ca-4564-story.html </li>
                <li>Ronson, Jon. (05/05/2001). Conspirators. The Guardian. Recuperado de https://www.theguardian.com/world/2001/may/05/mcveigh.usa </li>
                <li>Wright, Pablo G. (junio, 2000). Brazil, (de Terry Gilliam), retrato de una sociedad distopica. En 1° Encuentro Internacional de Cine y Teatro Antropológico, Padova, Italia. </li>
                
            </p>
        <h3>Artículos de Interés</h3>
        <p> 
            <a href="http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/terry.pdf/"> El desafío de la imaginación - TERRY GILLIAM</a>
                </p>



            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/brazil.jpg/>
        
                    <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

                    <div class="arriba"> 
                        <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/Brazil">
                                      
                          <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
                           alt="ARRIBA" title="ARRIBA"></a>
                    </div> 
        
        
              <!--  NO MODIFICAR -->
            <div class="indice"> 
          
                        <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
                         
                         <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
                          alt="INDICE" title="Indice"></a>
                        </div> 
        </div>
        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>