---
layout: post
title: "El nino rojo" 
permalink: elninorojo
---
   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Natalia Petringa - nataliapetringa@yahoo.com.ar</p>
    </div>


<div class="fichatecnica"> 
   
        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/nino.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=taIbJlN5U2o" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>El niño rojo</p>

         <h3>Año de Estreno</h3>
            <p>2014</p>

        <h3>Dirección</h3>
            <p>Ricardo Larraín</p>

        <h3>País de Origen</h3>
            <p>Chile</p>

        <h3>Productora</h3>
            <p>Wanda Films</p>

        <h3>Guión</h3>
            <p>Libro Original</p>

        <h3>Guionistas</h3>
            <p>Ricardo Larraín y Andrés Kalawski</p>

        <h3>Género Cinematográfico</h3>
            <p>Histórico</p>
            <p>Drama</p>
            <p>Biográfico</p>

        <h3>Fotografía</h3>
            <p>David Bravo</p>

        <h3>Música</h3>
            <p>Andrés Bodenhöfer</p>

        </div>

        <div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>El Niño Rojo relata la infancia, adolescencia y juventud del prócer chileno Bernardo O´Higgins, incluyendo la tensa relación con su padre Ambrosio O´Higgins, máxima autoridad de la Capitanía de Chile primero y del Virreinato del Perú después, y la decisión que toma a pesar del desacuerdo de su madre, Isabel Riquelme, de ocultarlo y dejarlo en manos de una joven nodriza mapuche quien lo cuida, protege y educa. Esto sucede debido a que el niño es hijo natural e ilegítimo entre un virrey español de ascendencia holandesa y una mujer criolla. </p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Con el aval de Wanda Films, empresa española que se encargó de ayudar y solventar económicamente a países latinoamericanos en la creación y conformación de películas sobre los héroes, los próceres y los procesos independentistas en cada región, desde Chile se estrenó el film El Niño Rojo en 2014. Formó parte, así, de la serie Libertadores, proyecto cinematográfico que España financió en buena parte para la realización y proyección de películas independentistas. 
                En Argentina, por ejemplo, junto a Wanda Films y productoras nacionales se realizó Revolución, el cruce de los Andes, estrenada en 2010, dirigida por Leandro Ipiña y protagonizada por el actor Rodrigo de la Serna en su papel de José de San Martín.
                En Chile, Wanda Films aportó tres cuartas partes para la filmación de El Niño Rojo; el resto fue aportado por universidades estatales chilenas como Universidad de Chile </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p><li>Antecedentes a 1810 y la declaración de independencia de Chile: </li>
                <li>Nacimiento de Bernardo O´Higgins en 1778</li>
                <li>Consolidación de la Capitanía de Chile entre 1777 y 1798
                Con la conformación del Virreinato de la Plata en 1777, se estableció la Capitanía de Chile, establecimiento político dependiente del Virreinato del Perú hasta 1798. Esto permitió la posibilidad de que influyentes actores políticos españoles radicados en el actual territorio chileno tuviesen la posibilidad de acceder a nuevos cargos, haciendo carrera en la Capitanía para luego aspirar al cargo de virrey. </li>
                <li>Ambrosio O´Higgins nombrado Virrey del Perú en el año 1796 hasta 1801</li>
                <li>Estadía de Bernardo en Inglaterra desde 1794</li>
                Allí conoce a Francisco de Miranda, quien lo educa en las primeras reflexiones sobre la soberanía de los pueblos. </li>
                <li>Reuniones de la Logia Lautaro registradas en 1798 </li>
                <li>Regreso a Chile en 1802 a la edad de 24 años</li>
                </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>El director designado para dirigir El Niño Rojo fue Ricardo Larraín, quien contaba entre sus producciones la película La Frontera, estrenada en el año 1991 y ganadora de los premios Goya en España y Festival Internacional de Berlín en Alemania. 
                El cineasta tenía en mente la posibilidad de relatar en películas y telefilmes una ambiciosa biografía del prócer Bernardo O´Higgins, ante el advenimiento de los festejos del Bicentenario del Primer Gobierno criollo en Chile. Desde 2005 ideó la propuesta de una miniserie televisada en horario central, que contó con el beneplácito de importantes productores del medio. Fue así que Héroes. La gloria tiene su precio confluyó en la aparición de 6 capítulos en televisión, horario central, por canal influyente para la audiencia chilena. 
                La trasmisión de Héroes fue muy bien acompañada por el público y la audiencia, liderando en rating, con positivas recepciones. 
                En el episodio I de la miniserie Héroes, Larraín relata los acontecimientos de la guerra de revolución en el actual territorio chileno, poniendo el centro de atención en O´Higgins, sus desavenencias con importantes figuras políticas como Manuel Rodríguez y el desenlace de la guerra por la independencia, cuando asume como Director Supremo del territorio chileno en 1818.
                En este episodio, Larraín vislumbra la posibilidad de realizar un largometraje que muestre los antecedentes de la revolución en general, y las primeras ideas y pensamientos emancipadores de O´Higgins en particular. 
                Luego del éxito de la película, nació la propuesta de presentarla en formato telefilm para la televisión chilena. Con el acuerdo de Larraín, El Niño Rojo fue expuesto en horario central para los televidentes chilenos. Se trasmitió bajo el parámetro: tres cortes de 45 minutos cada uno, sin censuras ni escenas agregadas. Por ende, tanto la película como el telefilm son iguales.</p>

        <h3>Valoración crítica de la película</h3>
            <p>El Niño Rojo realiza un intento de abarcar infancia y juventud de Bernardo O´Higgins desde un precario asilo rural para niños abandonados hasta el contacto con mapuches, la hacienda colonial, los franciscanos y la aristocracia frívola de Lima. También aborda sus años en Londres y sus ideales.
                Para el público amante de las historias de guerra por la independencia en América Latina, la película recrea los aconteceres históricos sucedidos en el actual territorio chileno. Permite que la gente conozca lo sucedido previamente a la conformación del primer gobierno criollo en septiembre de 1810. </p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Annino, Antonio y Guerra Francois (2003) Inventando la nación. Iberoamérica, siglo XIX, México, Fondo de Cultura Económica. </li>

                <li>Chiaramonte, José Carlos (2004) Nación y Estado en Iberoamérica. El lenguaje político en tiempos de las independencias, Buenos Aires, Sudamericana. </li>

                <li>Goldman, Noemí (2009) ¡El pueblo quiere saber de qué se trata! Historia oculta de la Revolución de Mayo, Buenos Aires, Sudamericana. </li>

                <li>Publicación periódica: http://elagentecine.cl/cine-chileno-2/el-nino-rojo-ricardo-larrain-2013/</li>

                <li>Publicación periódica:
                https://www.elmercurio.com/blogs/2014/10/03/25735/El-nino-rojo-Los-anos-mas-vulnerables-del-procer.aspx</li>

                  </p>

        <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

        <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/elninorojo">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


  <!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>

        </div>
        
        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>