---
layout: post
title: "El primer hombre en la luna" 
permalink: elprimerhombreenlaluna
---

 <div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>José Ignacio Ramos - joseramos_r91@hotmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/primer.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=j3jSLdZBrKU" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>First Man</p>

        <h3>Título de la película. (en español)</h3>
            <p>El primer hombre en la luna</p>

        <h3>Año de Estreno</h3>
            <p>2018</p>

        <h3>Dirección</h3>
            <p>Damien Chazelle</p>

        <h3>País de Origen</h3>
            <p>Estados Unidos</p>

        <h3>Productora</h3>
            <p>Universal Pictures</p>

        <h3>Guión</h3>
            <p>Adaptación</p>

        <h3>Guionistas</h3>
            <p>Josh Singer</p>

        <h3>Adaptado de</h3>
            <p>Basado en el libro First Man: The life of Neil A. Armstrong (James R. Hansen, 2005)</p>

        <h3>Género Cinematográfico</h3>
            <p>Histórico</p>
            <p>Drama</p>
            <p>Aventura Espacial</p>

        <h3>Fotografía</h3>
            <p>Linus Sandgren</p>

        <h3>Música</h3>
            <p>Justin Hurwitz</p>

        <h3>Premios y Nominaciones</h3>
            <p><p>Premios Globo de Oro 2019 (6 de enero de 2019) </p>
            <li>Claire Foy (Nominada a Mejor Actriz de Reparto) </li>
            <li>Justin Hurtwitz (Ganador por Mejor Banda Sonora) </li>
            
            <p>Premios Oscar (24 de febrero de 2019) </p>
            <li>Ai-Ling Lee y Milred Iatrou Morgan (Nominados a Mejor edición de sonido) </li>
            <li>Jon Taylor, Frank A. Montaño, Ai-Ling Lee y Mary H. Ellis (nominados a Mejor sonido) </li>
            <li>Nathan Crowley y Kathy Lucas (Nominados a Mejor diseño de Producción) </li>
            <li>Paul Lambert, Ian Hunter, Tristan Myles y J. D. Schwalm (Ganadora a Mejores efectos visuales) </li>
            
            <p>Premios BAFTA (10 de febrero 2019) </p>
            <li>Claire Foy (Nominada a Mejor Actriz de Reparto) </li>
            <li>Josh Singer (Nominado a Mejor guion adaptado) </li>
            <li>Nathan Crowley, Kathy Lucas (Nominados a Mejor diseño de Producción) </li>
            <li>Tom Cross (Nominado a Mejor montaje) </li>
            <li>Paul Lambert, Ian Hunter, Tristan Myles y J. D. Schwalm (Nominados a Mejores efectos visuales) </li>
            
            <p>Festival de Venecia (29 agosto al 8 de septiembre de 2018) </p>
            <li>Nominada a Mejor Película</li>
            </p>

        </div>

        <div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>Partiendo de la adaptación de la biografía escrita por James R. Hansen y centrándose en la experiencia personal de Neil Armstrong y su familia, el film se centra durante el período 1961-1969 intentando plasmar los avances de la NASA en pos de la exploración espacial y los orígenes de la misión que se encargaría de llevar al hombre a la Luna: el programa Apolo </p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>El film pone en pantalla un hito de la Historia Universal que no ha sido tratado por fuera del género documental. Tiene una mirada sobria e intima sobre la experiencia personal de Neil Armstrong pero sin dejar de notar los cambios político sociales que caracterizaron los sesenta y acompañaron la carrera espacial: la Guerra de Vietnam, la relación entre el mundo de la política y la importancia que le deja a la investigación científica, la emergencia de los movimientos contraculturales, el crecimiento de los medios de comunicación y la televisión como medio masivo, los estándares de vida del norteamericano blanco, el rol de la mujer dentro de la estructura familiar. Es una película que se basa en hechos del pasado con una mirada actual que le da más importancia a la perspectiva de género y que no omite las contradicciones de esa sociedad tanto en los 60 como en la actualidad.</p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p><li>1962 Neil Armstrong prueba el avión hipersónico experimental X-15 capaz de llegar al límite entre la atmosfera y el espacio exterior (en la película lo mencionan en 1961) </li>
                <li>1964 El protagonista ingresa en el programa Gemini </li>
                <li>3/1965 Alekséi Leonov (URSS) realiza primer paseo espacial (EVA). </li>
                <li>8/1965 Preparativos para el lanzamiento del Gemini 5. Realizará maniobras de acoplamiento en orbita</li>
                <li>3/1966 N. Armstrong y D. Scott, a bordo del Gemini 8, logran el primer acoplamiento de 2 naves en el espacio. Hay una falla y casi termina en un accidente. Surgen críticas por parte de los medios y congresistas</li>
                <li>1/1967 Accidente fatal del Apolo 1, fallece toda la tripulación. </li>
                <li>5/1968 Armstrong sufre un accidente en el vehículo de investigación de alunizajes </li>
                <li>12/1968 Lanzamiento del Apolo 8, el primero en viajar y orbitar la Luna</li>
                <li>5/1969 Lanzamiento del Apolo 10, es un ensayo general de las etapas previas al alunizaje</li>
                <li>7/1969 Lanzamiento del Apolo 11, el 20 de Julio se produce el alunizaje</li>
                </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>La película le fue bien en la taquilla pero en comparación a otras producciones ese año no fue un éxito rotundo. Por lo general las críticas fueron en su mayoría favorables, pero algunos sitios consultados la consideraron aburrida o lenta. Cabe destacar, por otro lado, que sectores de la alt-right, cercanos al presidente Trump y hasta él mismo acusaron al film de ser anti-estadounidense por omitir el momento donde se planta la bandera en la Luna. Ante estas acusaciones tanto el director, los actores y hasta los hijos de Neil Armstrong resaltaron que la omisión no tiene tintes políticos y que el film está basado en las experiencias personales del astronauta haciendo hincapié en que en sí ,es un logro estadounidense, pero que abarcó a toda la humanidad. </p>

        <h3>Valoración crítica de la película</h3>
            <p>En lo personal me pareció una película correcta desde el punto de vista histórico sin necesidad de caer en un nacionalismo extremo como nos suele acostumbrar una producción hollywoodense sobre hechos históricos relevantes llevados a cabo por estadounidenses. Tiene detalles que nos permite pensar más allá de la misión Apolo y el film hace hincapié en contextualizar los hechos con detalles simples</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>GARCIA LLAMA, E. , 2019. Apolo 11. Critica</li>
                <li>HANSEN, J. , 2018. El Primer Hombre. Crítica</li>
                <li>SELLERS, C. , MAY, H. y MCMILLEN, N. 1988. Sinopsis de la Historia de los Estados Unidos. Ed Fraterna</li>
                <p>Fotos reales de la misión</p>
                <li>https://elpais.com/elpais/2019/07/15/album/1563200408_918219.html#foto_gal_3</li>
                <p>Detrás de escenas de la película<p>
                <li>https://www.youtube.com/watch?v=8ufXMWR87Js</li>
                <li>https://www.youtube.com/watch?v=HAR7AEhotAE</li>
                
            </p>

        <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

        <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/elprimerhombreenlaluna">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


  <!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>
               </div>


               <div class="credito"> 
                <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                    <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                    Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                    Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                    Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
                </div>