---
layout: post
title: "Io Semiramide" 
permalink: IoSemiramide
---
   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Ezequiel Oscar Cabrera - ezeagosto@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/io.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.facebook.com/watch/?v=2677947221872" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Io Semiramide</p>

        <h3>Título de la película. (en español)</h3>
            <p>Duelo de reyes</p>

        <h3>Año de Estreno</h3>
            <p>1963</p>

        <h3>Dirección</h3>
            <p>Primo Zeglio</p>

        <h3>País de Origen</h3>
            <p>Italia</p>

        <h3>Productora</h3>
            <p>Apo Film – Globe Films International (distribuidora)</p>

        <h3>Guión</h3>
            <p>Libro Original</p>

        <h3>Guionistas</h3>
            <p>Fede Arnaud, Alberto Liberati, Primo Zeglio</p>

        <h3>Género Cinematográfico</h3>
            <p>Épico</p>
            <p>Peplum</p>

        <h3>Fotografía</h3>
            <p>Alvaro Mancori</p>

        <h3>Música</h3>
            <p>Carlo Savina</p>
        </div>

        <div class="fichasinopsis"> 
        
       <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>El general Onnos regresa a la capital asiria de Nínive después de una campaña militar en las que libró una guerra contra países enemigos. Se presenta ante el rey Minurte con una serie de esclavos capturados, incluido Kir, rey de los Dardanos que es hecho prisionero pero que continúa luchando por la rebelión. Kir atrae la atención de Semiramis, una joven que es miembro de la corte de Minurte y que tiene ambiciones imperiales y planea derrocar al rey, usando alianzas cambiantes con Kir y Onnos. </p>

    <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Los hechos narrados suceden en la histórica y antigua ciudad asiria del Próximo Oriente, Nínive (actualmente Mosul en Irak). Descubierta en 1847 por un embajador británico en Mosul, Sir Austen Henry Layard, que excavó con algunas técnicas arqueológicas novedosas. El film retoma personajes bíblicos y clásicos de los que no se tiene certeza que hayan existido. Por ejemplo, según la leyenda bíblica, Nimrod es el rey que construyó la ciudad dedicada en honor a su alianza –imperial y matrimonial- con su gran amor, Semiramis. A su vez, Semiramis –como deidad y personaje político- se convirtió en una figura increíblemente relevante en el arte italiano –y global- como representación femenina de la pasión, la lujuria y la traición, retratada así en obras de Dante Alighieri  –La Divina Comedia-,  Calderón de La Barca o Voltaire. Muchas de esas representaciones son retomadas en el film de Primo Zeglio. </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>Algunas de las representaciones que se hicieron de Semiramis están basadas en el personaje histórico Sammurāmat, reina del imperio Neo-Asirio, esposa de Shamshi-Adad V y regente de su hijo Adad-nirari III, y que habría gobernado, según algunas cronologías, del 811 al 808 a. C. y según otras del 809 al 792 a. C.  
                Reinado de Salmanasar III (859–824 a. C.): Babilonia ocupada y reducida a vasallaje. Batalla de Qarqar en 853 a. C. Toma el estado neo-hitita de Carquemis en el 849 a. C.
                Shamshi-Adad V, su hijo y sucesor, pasó el resto de su reinado reafirmando el control sobre esos pueblos. Adad-nirari III era un niño cuando sucedió a su padre en el 811 a. C., y durante cinco años hasta el 806 a. C., su madre, la reina Sammuramat. (También representada como Semiramis) gobernó como regente en su lugar. A pesar de las numerosas leyendas sobre esta reina, se la menciona poco en los registros asirios de la época.</p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>Si bien no disponemos de cuantiosa información acerca de la recepción o proyección de la película, sí podemos afirmar que existe un “clima de época” en los años 50’s y 60’s, sobre todo en el cine italiano, sobre cuestiones relacionadas al Próximo Oriente Antiguo - y Egipto incluso desde antes-, y en específico, en torno a la civilización babilónica. Es el auge en la cinematografía de la época de lo que se conoce como “género” péplum, donde determinados héroes ficcionales –Hércules o su hijo, Goliath, Maciste, Ursus, etc- se embarcan en una aventura de combate y romance en alguna civilización antigua tanto en Occidente como en Oriente. Entre 1962 y 1963 se estrenaron cerca de 15 películas, tanto de producción hollywoodense como europea, sobre alguna temática relacionada con el Egipto y la Mesopotamia antigua, entre ellas Io Semiramide.</p>

        <h3>Valoración crítica de la película</h3>
            <p>La película refuerza algunos estereotipos tradicionales sobre Oriente. El harén del rey, las odaliscas, la sensualidad y la avaricia de la “femme fatale”, la beligerancia, la esclavitud, las construcción megalítica, etc. También es necesario analizar el rol que se le otorga a las mujeres, pero no tanto en relación a estas sociedades pretéritas, sino más bien, dentro del contexto de producción del film. Semiramide es capaz de acceder al trono, pero no por cualidades “políticas o militares” –o incluso heroicas- sino por artilugios amorosos, engaños, traiciones.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Asher-Greve, Julia: "From 'Semiramis of Babylon' to 'Semiramis of Hammersmith'", en S.W. Holloway (ed.), Orientalism, Assyriology and the Bible, Sheffield, 2006 </li>

                <li>Colburn, H. P. 2011: “Orientalism, Postcolonialism, and the Achaemenid Empire: Meditations On Bruce Lincoln's Religion, Empire, And Torture”, Bulletin of the Institute of Classical Studies 54(2), 87-103. Sanahuja, </li> 

                <li>M Mendoza, El ejército persa en el cine - La guerra de la Antigüedad en el cine, Universitat Autònoma de Barcelona, 2019. </li> 

                <li>Maria de Fátima Rosa, A RECEPÇÃO DA ANTIGA MESOPOTÂMIA NO CINEMA: UMA VIAGEM PELO UNIVERSO DA ESCRITA EM MOVIMENTO E SEUS ANTEPASSADOS ARTÍSTICO-LITERÁRIOS, en Revista Heródoto, Unifesp, Guarulhos, v.4, n.2 - 2019.2. p. 59-90. </li>

            </p>
       
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/io2.jpg/>
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/io3.jpg/>
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/io4.jpg/>
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/io5.jpg/>

        <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

        <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/IoSemiramide">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


  <!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>
        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>