---
layout: post
title: "La culpa es de Fidel" 
permalink: laculpaesdefidel
---
c
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Magalí Ludmila Mariñelarena - magaliludmila98@gmail.com</p>
    </div>


<div class="fichatecnica"> 

        <h2>Ficha técnica</h2>
        
        <div class="poster">         
                 <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/fidel.jpg/ >
            
                 
        <div class="trailer"> 
                    <p> <a href="https://www.youtube.com/watch?v=qSgwnHrCWZo&feature=emb_title/" target="_blank">
                     
                     <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                      alt="Ver Trailer" title="Ver Trailer"></a>
        </div> 
          
                </p>
                </div>    
            
       <h3>Título de la película. (en idioma original)</h3>
            <p>La faute à Fidel!</p>

        <h3>Título de la película. (en español)</h3>
            <p>La culpa es de Fidel</p>

        <h3>Año de Estreno</h3>
            <p>2006</p>

        <h3>Dirección</h3>
            <p>Julie Gavras</p>

        <h3>País de Origen</h3>
            <p>Francia e Italia</p>

        <h3>Productora</h3>
            <p>Gaumont, Les Films du Worso, France 3 Cinéma</p>

        <h3>Guión</h3>
            <p>Adaptación</p>

        <h3>Guionistas</h3>
            <p>Arnaud Cathrine, Julie Gavras.</p>

        <h3>Adaptado de</h3>
            <p>Adaptación de la novela "Tutta colpa di Fidel" de Domitilla Calamai de origen italiano. Año: 1998</p>

        <h3>Género Cinematográfico</h3>
            <p>Histórico</p>
            <p>Drama</p>

        <h3>Fotografía</h3>
            <p>Nathalie Durand</p>

        <h3>Música</h3>
            <p>Armand Amar</p>

        <h3>Premios y Nominaciones</h3>
            <p>Nominada en 2007 en el Festival de Sundance para el Gran Premio del Jurado.</p>
        </div>

        <div class="fichasinopsis"> 
                
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>La vida de Anna, una chica de nueve años perteneciente a la clase media alta parisina en 1971 cambia bruscamente
                 cuando sus padres deciden meterse de lleno en la política al enterarse que un familiar fue asesinado por el franquismo. 
                 Su padre pasa a trabajar con Allende desde Francia, y su madre a militar dentro del feminismo. Anna debe despedirse de su 
                 casa grande y de su niñera, y acostumbrarse a un nuevo estilo de vida pero no le será fácil. </p>

     
          <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>La película demuestra constantemente de forma explicita el contexto político mundial en el que se desarrolla la misma,
                 es decir 1970/1971, dejando entrever una conexión entre lo que pasa en España, Francia y Chile plasmada en la familia 
                 de la protagonista. Durante el transcurso de la película vamos a poder como Anna, una niña de nueve años percibe 
                este contexto y como impacta el mismo en ella, gracias a las acciones políticas de sus padres. </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>La película se desarrolla durante los últimos años de la dictadura franquista y comienzos de la 
                presidencia de Allende. En ella se menciona la muerte de De Gaulle (1970), las Elecciones Municipales en Chile (1971) y 
                finalmente el golpe de estado a Allende (1973).</p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido 
            de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p> Hay que tener en cuenta que en comparación a otras películas que se desarrollan en la década del setenta, ésta no tiene 
                un contenido polémico. Por lo que en ese sentido no despertó ningún tipo de censura. Tampoco pareció importar mucho para 
                la critica que una niña de nueve años hablara de comunismo y cantara una canción de la Guerra Civil Española, del bando de 
                los republicanos. Esto quizá, se puede explicar por la ausencia de escenas violentas y de gran impacto. Al contrario, la película 
                tuvo una gran recepción en el Festival de Sundance y en varios festivales mundiales como lo son el Festival Internacional de Cine de
                 Roma, el Festival Internacional de Cine de Río de Janeiro y el Festival de Cine de Barcelona. Hoy en día, esta película luego de muchos 
                años de su estreno, se sigue proyectando en varios ciclos de cine en Argentina tanto formales como informales.</p>

        <h3>Valoración crítica de la película</h3>
            <p>SAl verla por primera hace unos años me impacto la forma en que se contaban los diferentes procesos históricos, 
                ya que en este caso contamos con la visión que tiene una niña de la historia y la política. Si bien creo que esta bien logrado, 
                me parece que hubiera sido interesante poner un poco mas el foco en lo que estaba ocurriendo en Francia en ese momento, ya que solo 
                se nombra la muerte de De Gaulle y se menciona de forma muy superficial el Mayo Francés. Y así quizá, con un mejor 
                desarrollo del contexto local se podría entender un poco mejor la perspectiva de Anna y sus comportamientos.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>-Lionetti Lucia, Cosse Isabella y Zapiola Maria Carolina, La historia de las infancias en América
                     Latina. Tandil: Universidad Nacional del Centro de la Provincia de Buenos Aires. 2018 </li>
                <li> Rosenstone, Robert. El pasado en imágenes. El desafío del cine a nuestra idea del pasado. Barcelona, Ariel. 1997 </li>
                <li>Rosenstone Robert, “Inventando la verdad histórica en la gran pantalla”. En: Camarero, Gloria; De las Heras Herrero,
                    Beatriz y De Cruz Vanessa (coord). Una ventana indiscreta. La Historia desde el Cine. Madrid: JC. 2008 </li>
                    
                    Otras películas que muestren los hechos históricos desde una perspectiva de la niñez: 
                    
                <li>Infancia Clandestina. Argentina, 2012. Dir: Benjamin Avila </li>
                <li> Machuca. Chile, 2004. Dir: Andres Wood This is England. Inglaterra, 2007. Dir: Shane Meadows</li>
                            </p>
         <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

         <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/laculpaesdefidel">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


  <!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>                   
        </div>
        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>