---
layout: post
title: "La lengua de las mariposas" 
permalink: lalenguadelasmariposas
---

<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Patricia del Rio - indigopraia@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/lengua.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=JSgUBrnRpAk" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>La lengua de las mariposas</p>

        <h3>Año de Estreno</h3>
            <p>1999</p>

        <h3>Dirección</h3>
            <p>José Luis Cuerda</p>

        <h3>País de Origen</h3>
            <p>España</p>

        <h3>Productora</h3>
            <p>Sogetel, Las producciones del Escorpión y Grupo Voz</p>

        <h3>Guión</h3>
            <p>Adaptado</p>

        <h3>Guionistas</h3>
            <p>Rafael Azcona</p>

        <h3>Adaptado de</h3>
            <p>Basada en los cuentos "La lengua de las mariposas", "Carmiña" y "Un saxo en la niebla" del libro ¿Qué me quieres, amor? de Manuel Rivas (Alfaguara, 1996)</p>

        <h3>Género Cinematográfico</h3>
            <p>Histórico</p>
            <p>De época</p>
            <p>Drama</p>

        <h3>Fotografía</h3>
            <p>Javier Salmones</p>

        <h3>Música</h3>
            <p>Alejandro Amenábar</p>

        <h3>Premios y Nominaciones</h3>
            <li>Nominaciones a Premios Goya  (XIV Edición), ganadora mejor guion adaptado</li>
            <li> Premio Círculo de Escritores Cinematográficos a la Producción española de 1999, ganadora mejor guion adaptado. </li> </p>
        </div>

        <div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>El film transcurre en un pueblo de Galicia durante el invierno de 1935 cuando el país vivía en la Segunda República.​ Moncho, el protagonista, es un niño de ocho años. Debe empezar a ir la escuela, antes no pudo por su asma, pero no quiere por su temor a que los profesores le peguen. Sin embargo, estas no son las intenciones de Don Gregorio, su maestro. 
                Mientras tanto, en el pueblo se siguen con atención las noticias radiofónicas que anuncian el estado político.  El estado pacífico del pueblo se transforma con la llegada de la Guerra Civil. </p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>El tema político se convierte en la película en tema central. Se destaca la considerable división de las dos Españas: la tradicional, católica y rígida y la democrática avanzada. También se muestra la intervención de la religión en las decisiones de estado. Pero este no es el único punto de vista que toma la obra, lo hace también desde el ámbito ético y educativo. Habla también de la Historia. Los acontecimientos históricos que están detrás de "La lengua de las mariposas”, determinan claramente la vida de los personajes, tal y como queda claro al final. Durante todo el film se observa un aire de nostalgia por la libertad, la esperanza y el cambio social que supuso la Segunda República española, («Gracias a la República podemos votar las mujeres», dice la madre de Moncho) y una denuncia de la bestialidad irracional de los que la derrocaron.
            </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>El largometraje transcurre en un pueblo de Galicia durante el invierno de 1935, cuando el país vivía en la época final de la Segunda República Española Una de las temáticas del largometraje es la Guerra Civil Española (1936-1939) Estas películas nacieron a raíz de la aprobación de la LEY DE MEMORIA HISTÓRICA(2007).​ "La lengua de las mariposas" es un punto de partida para comenzar a hablar del pasado desde el punto de vista de la sociedad. Lo hace, además, desde la perspectiva de un niño, relata, por tanto, las secuelas traumáticas de la contienda,  trata también de la migración de muchos jóvenes gallegos hacia América huyendo de la guerra de Marruecos. Este asunto se equipara al momento en el que Moncho huye de la escuela en su primer día y dice que quiere irse él también a América como están haciendo otros.     </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>Gran película reflexiva, conmovedora y con un  gran mensaje antibelicista.
                La lengua de las mariposas tiene un guion prácticamente impecable. Se nos muestra una relación alumno-maestro de manera meticulosa. Las subtramas de otros personajes están muy bien logradas. El mensaje es claro, antibélica. Evidencia las consecuencias de la guerra civil y como eso afectó a las relaciones personales. Es desgarradora la parte final de la película, hace reflexionar al respecto y deja un sabor amargo de lo que puede llegar a ser la intolerancia hacia quien piensa distinto. 
                La película está bien  rodada, buena a nivel técnico, y con una gran banda sonora de Alejandro Amenábar, que transmite emotividad.
                Tiene buena ambientación (vestuario, escenarios y contexto político y social). Y a tenido éxito y mucha repercusión en su proyección en las salas cinematográficas. 
                Además de su importancia histórica es muy utilizada para ejemplificar la relación alumno-profesor y en España se la ha utilizado pedagógicamente en la ESO (Educación Secundaria Obligatoria) para estudiar el período de la Guerra Civil Española. </p>

        <h3>Valoración crítica de la película</h3>
            <p>Su importancia a nivel histórico es valiosa. La lengua de las mariposas ha tenido una gran repercusión pública que ha puesto de manifiesto la necesidad cada vez más inevitable de reflejar la terrible guerra que devastó España entre 1936-1939 y cuyas consecuencias aún son rastreables en la sociedad actual.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Pereyra, Ma Laura, "Análisis de la relación docente-alumno a través de la película "La lengua de las mariposas" Publicaciones DC, Reflexión Académica Nº X, Univ. de Palermo, Facultad de Diseño y comunicación, Bs As, Agosto 2008. </li>
                <li>https://fido.palermo.edu/servicios_dyc/publicacionesdc/vista/detalle_articulo.php?id_articulo=1327 id_libro=124</li>

                <li>Barrenetxea Marañón, Igor " Cine, represión y memoria histórica" Univ del País Vasco. Dialnet 
                https://dialnet.unirioja.es/descarga/articulo/4721523.pdf</li>

                <li>Martínez-Salanova Sánchez, Enrique "La lengua de las mariposas, los maestros de la II República Española"
                    https://educomunicacion.es/cineyeducacion/temasmariposas.htm</li>

            </p>
        <h3>Artículos de Interés</h3>
                 <p> 
            <a href="http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/DRACHLER.pdf/" target="_blank">La memoria colectiva de la Guerra Civil Española a través del papel infantil en 
                el cine: Un estudio de caso - LARISSA DRACHLER</a>
                </p>
        <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

        <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/lalenguadelasmariposas">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


  <!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>

        </div>
        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>