---
layout: post
title: "La Vaquilla" 
permalink: lavaquilla
---

<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Ayelén Martínez Gorbik - Ayemartinezgorbik@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vaquilla.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=U-Wz0RIeyCU" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>La Vaquilla</p>

       <h3>Año de Estreno</h3>
            <p>1985</p>

        <h3>Dirección</h3>
            <p>Luis García Berlanga</p>

        <h3>País de Origen</h3>
            <p>España</p>

        <h3>Productora</h3>
            <p>Jet Films, In-Cine Compañía Industrial Cinematográfica</p>

        <h3>Guión</h3>
            <p>Libro Original</p>

        <h3>Guionistas</h3>
            <p>Luis García Berlanga y Rafael Azcona</p>

        <h3>Género Cinematográfico</h3>
            <p>Comedia</p>

        <h3>Fotografía</h3>
            <p>Carlos Suárez</p>

        <h3>Música</h3>
            <p>Carlos Suárez</p>

        <h3>Premios y Nominaciones</h3>
            <p>No recibió premios y nominaciones.</p>
        </div>

        <div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>Durante Guerra Civil Española, el frente de Aragón existe de una calma que permite el intercambio de tabaco y papel de fumar entre los dos ejércitos. El bando de los sublevados, que tiene el control de un pueblo llamado Perales, anuncia los festejos del día de la patrona del mismo, que incluyen una comida popular, baile y la suelta de una vaquilla. A partir de este momento el objetivo de un comando republicano será secuestrar y matar a la vaquilla para estropear la fiesta del enemigo, elevar la moral de la tropa, y conseguir alimentos.</p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Desde 1975, en el ámbito de la cultura se va a generar una gran cantidad de textos sobre la Guerra Civil Española que van a funcionar como “espacios de la memoria”. La Vaquilla, con el guion de Azcona y Berlanga, influirá en la construcción de la memoria histórica. Por lo  tanto, la importancia del film, radica en que es el más completo acercamiento a la contienda bélica desde el género cómico. Esta nueva representación, cuyo eje es la insensatez del conflicto militar, desea ser superadora de interpretaciones previas del conflicto. Tanto de las representaciones apologéticas de la sublevación producidas fundamentalmente durante la dictadura, como de las más favorables al bando republicano, que empezaron a surgir en los últimos años del franquismo y durante la transición política a la democracia.</p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>La historia se desarrolla durante la Guerra Civil, tras dos años de contienda, en el frente de Aragón. Uno de los frentes más encarnizados durante la lucha. Sin embargo, en la película aparece como un escenario sumido en la inactividad y los soldados de ambos bandos, acaban por sustituir el tiroteo por encuentros periódicos y pacíficos en los que se intercambian papel de fumar y tabaco.</p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>Rafael Azcona y Luis García Berlanga empezaron el guion de la película a mediados de los sesenta del siglo XX. A través de las metáforas como la vaca y Guadalupe representaron a España. Y en la disputa de los personajes por ambas, se observa un mensaje en el que se responsabiliza a sublevados y leales a la II República, de la destrucción del país durante los tres años de conflicto civil. Como consecuencia del guion, el film no pudo realizarse por la prohibición de la censura franquista.
                Sin embargo, La vaquilla se estrenó durante la transición democrática española el 6 de marzo de 1985 en Barcelona, dos días después lo hizo en la capital de España. El film contó con algo más de 1.900.000 espectadores acumulados, ocupando el puesto noventa de las cien películas españolas con más público de la historia. Y en julio de 2016 logró un record histórico de audiencia en televisión, obteniendo casi un millón de espectadores.
                La película se estrena durante el gobierno de Felipe González (1982-1986), heredero ideológico de una parte de los vencidos, que junto con una fracción de la población, prefirieron mirar al futuro. En este intento por no volver la vista al pasado, se esperaba que el olvido fuese suficiente para enterrar los fantasmas de la Guerra Civil y cerrar la herida. Por lo tanto, la Vaquilla se introduce en el espacio de la memoria, buscando contrarrestar el olvido e introduciendo un discurso nuevo en el que responsabiliza a ambos bandos de la contienda por la destrucción de España.</p>

        <h3>Valoración crítica de la película</h3>
            <p>En La vaquilla, de Luís García Berlanga, encontramos los dos pilares de su cine: el sentido del humor y la crítica irónica a la sociedad. Berlanga y Azcona, revisten las escenas con un guion cargado de ironía, acidez y humor negro. Nos conducen entre risas en la trama, pero en el desenlace nos invade la amargura por el resultado de la contienda. Una España devorada por los buitres, un país al que hirieron de muerte ambos bandos. Producto del periodo de transición democrática, La Vaquilla, trae la guerra a la memoria a través del humor, para que la herida abierta no duela tanto.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>GONZÁLEZ, L. M. (2008). La Vaquilla: Memoria histórica y humor carnavalesco. Quaderns de Cine, pp. 73-79. </li>
                <li>GUICHOT REINA, Virginia (2017). Cine y memoria histórica: la interpretación del pasado reciente nacional en el cine de la transición española (1975-1986). Revista Iberoamericana do Patrimônio Histórico-Educativo, pp. 70-96. </li>
                <li>SÁNCHEZ-BIOSCA, Vicente (1995), “La ficcionalización de la historia por el nuevo cine español: De La vaquilla (1985) a Madregilda (1994)”, Revista Canadiense de Estudios Hispánicos, Vol. 20, N. 1 (1995), pp. 179-193. </li>

           
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vaquilla2.jpg/>

<!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

        <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/lavaquilla">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


 <!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>
        </div>


        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>