---
layout: post
title: "Las horas mas oscuras" 
permalink: lashorasmasoscuras
---

  

   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Camila Lucía Scuzzarello - c.scuzzarello@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/horas.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=LtJ60u7SUSw" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Darkest hour</p>

        <h3>Título de la película. (en español)</h3>
            <p>Las horas mas oscuras</p>

        <h3>Año de Estreno</h3>
            <p>2017</p>

        <h3>Dirección</h3>
            <p>Joe Wright</p>

        <h3>País de Origen</h3>
            <p>Gran Bretaña</p>

        <h3>Productora</h3>
            <p>Perfect Works Pictures- Working Title Films- Focus Feature</p>

        <h3>Guión</h3>
            <p>Adaptación</p>

        <h3>Guionistas</h3>
            <p>Anthony McCarten</p>

        <h3>Adaptado de</h3>
            <p>Darkest Hour: How Churchill Brought us Back from the Brink- Anthony McCarten</p>

        <h3>Género Cinematográfico</h3>
            <p>Histórico</p>
            <p>Drama</p>
            <p>Bélico</p>

        <h3>Fotografía</h3>
            <p>Bruno Delbonnel</p>

        <h3>Música</h3>
            <p>Darío Marianelli</p>

        <h3>Premios y Nominaciones</h3>
            <p><p>Ganador: </p>
            <li>Premios Oscar (mejor actor y mejor maquillaje) </li>
            <li>Premios Globo de Oro (mejor actor) </li>
            <li>Premios BAFTA (mejor actor y mejor maquillaje y peluquería) </li>
            
            
            <p>Nominaciones: </p>
            <li>Premios Oscar (nominaciones a mejor película, mejor fotografía, mejor vestuario, mejor diseño de producción) </li>
            <li>Premios BAFTA (mejor película, mejor banda sonora, mejor actriz de reparto, mejor diseño vestuario, mejor diseño de producción, mejor fotografía) </li>
            </p>

        </div>

        <div class="fichasinopsis"> 
              
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>Durante la Segunda Guerra Mundial (1940), Winston Churchill es nombrado primer ministro tras la renuncia de Chamberlain; en un contexto de expansión territorial del nazismo y el debate parlamentario sobre el asunto noruego y la planificación de la Operación Dinamo. Negociaciones de paz y redención, conflictos con el gabinete de Guerra y con el Rey son las situaciones a las que se enfrenta Churchill. Finalmente, un suceso en el subte hará que se decida por involucrar a Inglaterra en la lucha por la derrota del fascismo.</p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>La película muestra la importancia y evolución del discurso de Churchill desde que asume como primer ministro hasta el fin de la Operación Dinamo. De esta manera, representa  un contexto de crisis política en Inglaterra ante la segunda guerra mundial y las diferentes posturas sobre la participación en la guerra en la sociedad inglesa.
                Por otro lado, al tomar un personaje histórico controvertido tanto por su capacidad política y discursiva como por las medidas y consecuencias reales de su ministerio,  invita a reflexionar por qué hasta el día de hoy es retomado en el cine.
                La representación histórica del período fue felicitada así como también la actuación de Gary Oldman. Además, su estreno está vinculado a otras películas de la década como Dunkirk y The King’s speech, también galardonadas. Más allá de la visión particular del guionista (autor de su propio libro histórico sobre  Churchill), no puede dejar de afirmarse la sensación de estar en esa Inglaterra convulsionada de 1940</p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p><li>Segunda Guerra Mundial (1939-1945) </li>

                <li>9 de mayo 1940 Renuncia de Chamberlain. Invasión nazi a Checoslovaquia y presión de tropas nazis en la frontera belga </li>
                
                <li>10 de mayo de 1940: Asume Churchill como primer ministro. Invasión alemana a Bélgica y los Países Bajos. Presión del ejército nazi sobre Francia. </li>
                
                <li>13 de mayo de 1940: Invasión nazi a Francia. Primer discurso de Churchill en el Parlamento</li>
                
                <li>19 de mayo: Primer discurso de Churchill en la radio</li>
                
                <li>25 de mayo de 1940: Traslado de tropas occidentales británicas hacia Dunkerque</li>
                
                <li>26 de mayo de 1940: inicio de la Operación Dynamo (evacuación de Dunkerque) </li>
                
                <li>27 de mayo de 1940: Primer envío de embarcaciones civiles a la costa francesa. </li>
                
                </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>Dunkirk, Darkest hour y Churchill  (que recibió muy malas críticas) se estrenaron al año siguiente del Referendum sobre el Brexit (2016) y representaron la política inglesa durante 1940, la operación del Desembarco de Normandía. La complejidad del Brexit deja entrever la crisis migratoria y las fracturas al interior de Europa como también de Gran Bretaña, despertando nuevamente miedos alrededor de los nacionalismos y crisis económicas que trae la desintegración de la Unión Europea. El personaje de Churchill y los sucesos de la II Guerra Mundial son formas de repensar este contexto europeo tan particular; un líder político controvertido y destacado por su participación en la defensa ante el nazismo así como del Imperio Británico es perfecto para representar los debates ante el Brexit. 
                Por otro lado, el guionista es un activo escritor de biografías de personalidades científicas, artísticas y políticas que llegaron a la pantalla grande. Su libro sobre Churchill se centra en la impronta y performance discursiva del primer ministro y en reconocer su retórica como una herramienta política fundamental durante su mandato a través de una descripción del período y análisis de fuentes. 
                Para 2018, la película había recaudado 142.6 millones a nivel mundial. Si bien en nuestro país no tuvo una recepción muy amena, a pesar de destacar la actuación de Oldman (halagado por la mayoría), en el Reino Unido despertó críticas positivas y reflexiones sobre la importancia del liderazgo en momentos de crisis, la idealización de personajes y hechos de pasado británico así como la “inactividad” de ciertos políticos ingleses. No obstante, las críticas sobre la “revelación” de Churchill en el subte son bastante duras dada su simplicidad e insistencia en una unidad nacional, que tampoco pareciera verificarse en el contexto de estreno. Esta película ha sido destacada por su representación histórica pero incita a pensar cuánto de ese pasado bélico pervive aún en Gran Bretaña.</p>

        <h3>Valoración crítica de la película</h3>
            <p>La representación del pasado en este film respeta casi perfectamente la cronología de hechos y escenarios. Sin embargo, su aporte principal es una visión historiográfica del guionista y director sobre el discurso del líder político en el caótico contexto de la II Guerra Mundial; la importancia de Churchill no tanto por sus decisiones políticas sino por el significado de su retórica en la búsqueda de la unión nacional y el resurgir del Imperio Británico. Aunque, hay cierto idealismo del personaje y el sentimiento nacional, sirve para preguntarse si no hay mucho de esto en el contexto del Brexit</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Castagnino, M. I., & Keegan, L. (29-30 de Septiembre de 2020). III Jornadas de Literatura Inglesa de la UBA: Estéticas de lo residual en las producciones culturales inglesas. Segunda Guerra Mundial: disrupción y restitución de la lengua inglesa en el cine británico reciente (“El discurso del rey” y “Las horas más oscuras”) . Buenos Aires. </li>
                <li>Cortés Hernández, V., & Caballero Camacho, J. (2019). Un liderazgo efectivo: Winston Churchill en la mirada de Anthony McCarten. Fuentes Humanísticas , 31 (59), 65-79. </li>
                <li>Martino, A. (2016). Brexit. PostDATA. Revista de reflexión y análisis político , 21 (2), 565-575. </li>
                <li>McCarten, A. (2017). Darkest hour: How Winston Churchill brought England back from the brink. Londres: Harper Collins. </li>
                <li>Medina, M. (10 de septiembre de 2017). 'Churchill': un cero a la izquierda en el desembarco de Normandía. Recuperado el 22 de junio de 2021, de El Confidencial: https://www.elconfidencial.com/cultura/cine/2017-09-08/churchill-brian-cox-miranda-richardson_1434891/</li>
                <li>Pitchers, C. (junio de 2021). Cinco años del Referndum del Brexit. Recuperado el 22 de junio de 2021, de https://es.euronews.com/2021/06/22/cinco-anos-del-referendum-del-brexit</li>
                <li>Scott, A. O. (21 de noviembre de 2017). Review: ‘Darkest Hour,’ or the Great Man Theory of History (and Acting). Recuperado el 22 de junio de 2021, de The New York Times: https://www.nytimes.com/2017/11/21/movies/darkest-hour-review-gary-oldman.html</li>
                <li>Trejo, E. (2019). ¿Por qué buscar claridad en Las horas más oscuras? Fuentes Humanísticas, 31 (59), 81-90. </li>
                <li>Dunkirk (2017) Christopher Nolan </li>
                <li>The King's Speech (2010) Tom Hooper</li>
                <li>Churchill (2017) Johnatan Teplitzky</li>

            </p>
       
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/horas2.jpg/>
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/horas3.jpg/>
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/horas4.jpg/>
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/horas5.jpg/>

<!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

        <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/lashorasmasoscuras">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


<!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>

        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>