---
layout: post
title: "Mamma Roma" 
permalink: mammaroma
---

  

   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Lucìa Guadalupe Ruiz - ruizluciag@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/mamma.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=71s71W13MAI&ab_channel=CastellanoCineBox" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Mamma Roma</p>

        <h3>Título de la película. (en español)</h3>
            <p>Mamma Roma</p>

        <h3>Año de Estreno</h3>
            <p>1962</p>

        <h3>Dirección</h3>
            <p>Pier Paolo Pasolini</p>

        <h3>País de Origen</h3>
            <p>Italia</p>

        <h3>Productora</h3>
            <p>Arco Film</p>

      
        <h3>Guionistas</h3>
            <p>Pier Paolo Pasolini y Sergio Citti</p>

        <h3>Género Cinematográfico</h3>
            <p>Drama</p>

        <h3>Fotografía</h3>
            <p>Tonino Delli Colli</p>

        <h3>Música</h3>
            <p>Antonio Vivaldi y Carlo Rustichelli</p>

        <h3>Premios y Nominaciones</h3>
            <p>Copa Volpi a la mejor actriz.  León de Oro. Copa Volpi al mejor actor. León de plata. Todas fueron nominaciones </p>
        </div>

        <div class="fichasinopsis"> 
            
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>Mamma Roma quiere reconstruir su vida con su hijo y olvidar sus años como prostituta. Para ello, se instalará en Roma como vendedora ambulante en busca de un mejor futuro para ella y su hijo, Ettore. Dicha tarea estará atravesada por numerosos avatares que desenmascaran la calidad de vida de la Italia de posguerra para el proletariado. Finalmente, Mamma Roma se ve obligada a retomar su antiguo trabajo y Ettore queda enredado en una problemática adolescencia signada por el enamoramiento no correspondido y la delincuencia, hecho que provocará su aprisionamiento y posterior muerte. </p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Históricamente hablando, Mamma Roma es un retrato de segunda posguerra que relata las vicisitudes de las clases bajas y medias en busca de ascenso social. El film retrata a la sociedad italiana como un diverso mosaico integrado por sectores bajos, pequeño-burgueses o  desempleados.  Sin embargo, dicha situación sucede un contexto signado no por una profunda desolación sino dentro de un proceso de transición entre una Italia vieja en ruinas y una Italia que comienza a perfilar lentamente cierto crecimiento económico. Además, Pasolini desenmascara el rol de la prostitución y la religión como dos sectores que desde antaño y hasta en la actualidad cumplen un papel central y estructurador de la vida de la ciudad y las calles. En el film, la capital es vista como un polo de oportunidades y crecimiento económico junto con sus carencias, expresadas en la inevitabilidad del trabajo informal y la delincuencia juvenil como salida a un contexto adverso. </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>A pesar de que no hace referencia a un hecho histórico concreto, Mamma Roma se sitúa históricamente a fines de los años 50, es decir, dentro de un contexto de segunda posguerra donde los protagonistas viven en una nación que integra el bando perdedor. El film suele anclarse más en una crítica hacia el pasado de la Italia fascista que hacia el partido democrático cristiano, quien tomó el poder una vez caído Mussolini. Sin embargo, mediante un breve diálogo, el film revela que algunos sectores bajos rechazaban al comunismo considerándolo como sinónimo de pobreza y atraso. Este último punto sirve como puntapié para situar el contexto político de mediados del siglo XX en Italia, donde el comunismo y el socialismo no tuvieron grandes espacios en los cargos públicos una vez que dicho país recibió la ayuda del Plan Marshall (hecho que colocó a Italia dentro del bando capitalista en del escenario de Guerra Fría). </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>Mamma Roma fue estrenada en agosto de 1962 en el Festival de Venecia. Cabe destacar que por sus inclinaciones marxistas y su controvertida obra artística Pasolini siempre fue un blanco perfecto para los sectores de derecha. De hecho, Mamma Roma fue incautada por la policía inmediatamente después de su lanzamiento durante un mes. Más adelante, durante el estreno de la película en Roma, Pasolini fue agredido por un grupo de fascistas. Esto se debió, en parte, a que el film visibiliza la prostitución e incluye una escena que contiene una burla al himno italiano. Aunque el film ya había sido aprobado en agosto por el  Ministerio de turismo y espectáculo, en septiembre de dicho año se la calificó como película apta para mayores de 14 años.
                En Gran Bretaña hubo que cortar más de cinco minutos de metraje por imposición de los censores y tuvieron que pasar casi 30 años hasta que pudo ser exhibida en Estados Unidos.  También, es importante recalcar el conflictivo contexto de rodaje de Mamma Roma, donde se le retiró a Pasolini el permiso para rodar el film en Cecafumo y al mismo tiempo el director debió enfrentar un proceso penal que lo acusaba de haber realizado un robo a mano armada. </p>

        <h3>Valoración crítica de la película</h3>
            <p>Aunque considero que la película en su producción técnica puede tener algunas fallas (tales como elipsis que no funcionan muy bien) Mamma Roma es un film que atractivo por su capacidad para narrar de manera profunda y poética no solo la trágica historia de la protagonista sino un momento de transición entre una Italia que intenta abandonar las heridas de la segunda guerra y se perfila en una lenta recuperación económica que en realidad no es tan visible como se demuestra en los libros y carga con el peso de los cuerpos cansados de los trabajadores que atraviesan ese momento. </p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Del Cid Mendoza, A., (2020), Viaggio per Roma e dintorni: suburbios, cine y cartografía, Barch, 14, 144-159. https://doi.org/10.26754/ojs_zarch/zarch.2020144295. </li>

                <li>Grisolia, R., Roma : fantasma e materia. Accattone, Mamma Roma, La Ricotta di Pier Paolo Pasolini, Italies, 11, 679-695. https://doi.org/10.4000/italies.942</li>
                
                <li>Cine Cosmos, (2004), Exhibición n° 6418. Temporada nª51. </li>
                
                <li>Oana Ursache (Coord.), (2019), Este es mi cuerpo.Estudio de cuerpologìa  femenina  Universidad de Turku. </li>
                
            </p>
        <h3>Artículos de Interés</h3>
        <p> 
            <a href="http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/mammaroma.rtf/">Reseña CineClub Nucleo</a>
                </p>

<!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

        <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/mammaroma">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


  <!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>
        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>