---
layout: post
title: "Menocchio" 
permalink: menocchio
---

  

   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Álvaro Morresi - alvaromorresi85@hotmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/Menocchio.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=AlE-twFPgW0&t=9s" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Menocchio</p>

        <h3>Título de la película. (en español)</h3>
            <p>Menocchio</p>

        <h3>Año de Estreno</h3>
            <p>2018</p>

        <h3>Dirección</h3>
            <p>Alberto Fasulo </p>

        <h3>País de Origen</h3>
            <p>Italia, Rumania</p>

        <h3>Productora</h3>
            <p>Nefertiti Film, RAI Cinema, Hai-Hui Entertainment.</p>

        <h3>Guión</h3>
            <p>Libro Orginal</p>

        <h3>Guionistas</h3>
            <p>Alberto Fasulo, Enrico Vecchi</p>

        
        <h3>Género Cinematográfico</h3>
            <p>Histórico</p>
            <p>De época</p>
            <p>Drama</p>
            <p>Biográfico</p>

        <h3>Fotografía</h3>
            <p>Alberto Fasulo</p>

        <h3>Música</h3>
            <p>Paolo Forte</p>

        <h3>Premios y Nominaciones</h3>
            <p><li>Locarno International Film Festival 2018 - Nominación: Mejor película; Golden Leopard: Alberto Fasulo. </li>

                <li>Annecy Italian Cinema Festival 2018 - Premios: Director (Alberto Fasulo); Producción (Nefertiti). </li>
                
                <li>BIFEST - Bari International Film Festival 2019 - Premio: Mejor diseño de vestuario (Viorica Petrovici). </li> 
                
                <li>Italian National Syndicate of Film Journalists 2019 - Nominación: Mejor fotografía; Premio Silver Ribbon: Alberto Fasulo. </li>
                </p>

            </div>

            <div class="fichasinopsis"> 
                      
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>En un pueblo de las montañas del Friuli al norte de Italia, a fines el siglo XVI, un molinero capaz de leer y escribir, Menocchio, termina enfrentado al poder de la Iglesia católica por exponer ideas propias sobre cuestiones que contradicen ciertos dogmas de esta. El dilema de Menocchio sobre exponerse a sí mismo y a sus familiares y amigos por un lado, y no callar sus ideas ante la presión de la Inquisición por el otro, atraviesa este drama histórico, situado en el contexto de la reacción de la Iglesia Romana contra la avanzada protestante del centro del continente.</p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>El film ofrece una reconstrucción del contexto en el que surge con fuerza la Contrarreforma impulsada por la Iglesia católica romana durante el siglo XVI. El rol jugado por la Inquisición y los métodos de control social impulsados por la Iglesia (como la imposición del confesionario auricular tal como lo conocemos hoy) plantean una interpelación al espectador sobre los métodos de control social practicados en la actualidad por los Estados. Por otro lado, pero vinculado a lo anterior, las encrucijadas atravesadas por Menocchio, la decisión de defender su posición a riesgo de poner en peligro su vida y la de su entorno, funcionan como una segunda interpelación, esta vez para pensar en los riesgos y dilemas atravesados por quienes son considerados como indeseables por el poder instituido en cualquier época. 
                Por último, la luz natural, la ausencia de música y la apelación constante a los primeros planos de Menocchio generan una empatía con la angustia del protagonista difícil de evadir.</p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>En 1583 Menocchio es denunciado ante la Inquisición por incurrir en herejía al cuestionar ciertos dogmas de la fe católica y pronunciar ideas propias sobre religión. 
                Al año siguiente sufre el primer interrogatorio y es encarcelado por dos años.  
                Indirectamente se representan cuestiones y dilemas surgidos en vinculación con la Reforma protestante de inicios del siglo XVI impulsada, entre otros, por Martín Lutero, Ulrico Zuinglio y Juan Calvino. Por otro lado, pero vinculado a lo anterior, los exponentes de la Iglesia católica  y la Inquisición romana representan las transformaciones dentro de la Iglesia de Roma, o Contrarreforma, en respuesta a la Reforma protestante, impulsada por el Concilio de Trento (1545-1563). </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>Según el sitio web Mymovies.it, la recaudación en Italia, de la película Menocchio, desde su estreno en noviembre de 2018 a septiembre de 2019, fue de 64.835 euros. A modo de comparación, para tener una referencia de la significatividad de esta cifra, traemos la progresión de la recaudación de dos films que se estrenaron la misma semana que Menocchio. Por un lado, la más taquillera en Italia en la semana de los estrenos fue Animales fantásticos: Los crímenes de Grindelwald (Gran Bretaña, EUA), llegando a septiembre de 2019 con una recaudación total de 12,8 millones de euros. Por otro, en el decimonoveno puesto de recaudación se encontró Colmillo blanco (Francia, Luxemburgo y EUA) con un total de 2,1 millones de euros para el mismo rango de tiempo que las anteriores.  
                Como vemos, en cuanto a recaudación, Menocchio se trata de una película muy alejada de los denominados “tanques” de Hollywood, pero también de producciones que quedan bastante distante de estos en el ranking de taquilla. 
                Por otra parte, es interesante tener en cuenta que, tal como lo cuenta la productora Nadia Trevisan de Nefertiti Film en una entrevista a Cineuropa (https://cineuropa.org/es/interview/371817/), la película fue acompañada, en sus proyecciones de estreno, de debates con la participación de los realizadores y productores. Lo cual nos habla de una búsqueda de interacción directa con los espectadores en torno a lo expuesto en la película, que excede lo económico.</p>

        <h3>Valoración crítica de la película</h3>
            <p>La película ofrece una interesante oportunidad para pensar los aportes de la corriente historiográfica denominada Microhistoria, e indagar sobre el diálogo entre los realizadores y los historiadores, especialmente con Carlo Ginzburg que sacó a Menocchio a la luz en su libro El queso y los gusanos. 
                Asimismo, el film reconstruye la vida y los dilemas morales e ideológicos de una pequeña población del norte de Italia del siglo XVI que afectan tanto a las relaciones entre ellos mismos como a la interacción que se establece entre estos sectores populares o “de abajo” y los poderes establecidos. </p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Pisacane, G. L., (2018, 05 de noviembre) “Ora come cinquecento anni fa il diverso fa paura”, Famiglia Cristiana.it, https://www.famigliacristiana.it/articolo/ora-come-cinquecento-anni-fa-il-diverso-fa-paura.aspx </li>
                <li>Tasca, F., Dragomirescu, C. y Agrigoroaei, V. (2020), “Menocchio (2018). Dialogo con Alberto Fasulo, regista”. Museikon, (Número 4), pp. 307-325, https://journal.museikon.ro/index.php/arhives/24-museikon-journal-nr-4/heritage/66-menocchio-2018-dialogo-con-alberto-fasulo-regista  </li>
                <li>Garofalo D., (2018, 08 de noviembre), “Menocchio, di Alberto Fasulo”. Sentieriselvaggi, https://www.sentieriselvaggi.it/menocchio-di-alberto-fasulo/</li>

            </p>

 <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

         <div class="arriba"> 
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/menocchio">
                          
              <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
               alt="ARRIBA" title="ARRIBA"></a>
        </div> 


  <!--  NO MODIFICAR -->
<div class="indice"> 

            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
             
             <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
              alt="INDICE" title="Indice"></a>   
        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>