---
layout: post
title: "PELICULA" 
permalink: PELICULA
---
     
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p> Nombre y Apellido - correoelectronico</p>
    </div>


 <div class="fichatecnica"> 
   
        <h2>Ficha técnica</h2>
    
        <div class="poster">     
                  <!--  AGREGAR NOMBRE DE LA IMAGEN DEL POSTER -->    
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/XXXXXXX.jpg/ >
       
            
   <div class="trailer"> 

        <!--  COLOCAR EL ENLACE AL TRAILER -->

               <p> <a href="ENLACE A TRAILER" target="_blank">

            
        <!--  NO MODIFICAR -->
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>XXXXXX</p>

       
        <h3>Año de Estreno</h3>
            <p>XXXX</p>

        <h3>Dirección</h3>
            <p>XXXXXXX</p>

        <h3>País de Origen</h3>
            <p>XXXXXXX</p>

        <h3>Productora</h3>
            <p>XXXXXXX</p>

        <h3>Guión</h3>
            <p>XXXXXXX</p>

        <h3>Guionistas</h3>
            <p>XXXXXXX</p>

        
        <h3>Género Cinematográfico</h3>
            <p>XXXXXXX</p>
          

        <h3>Fotografía</h3>
            <p>XXXXXXX</p>

       <h3>Música</h3>
            <p>XXXXXXX</p>

        <h3>Premios y Nominaciones</h3>
            <p>
            <li>xxxxxx</li>
            <li>xxxxxx</li>
            <li>xxxxxx</li>
            <li>xxxxxx</li>
            </p>
</div>

<div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
          <li>xxxxxx</li>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <li>xxxxxx</li>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <li>xxxxxx</li>
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <li>xxxxxx</li>
        
        <h3>Valoración crítica de la película</h3>
            <li>xxxxxx</li>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
               <li>xxxxxx</li>
               <li>xxxxxx</li>
               <li>xxxxxx</li>
               <li>xxxxxx</li>
            </p>

 <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

            <div class="arriba"> 
                <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/XXXXXXXX">
                              
                  <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
                   alt="ARRIBA" title="ARRIBA"></a>
            </div> 


 <!--  NO MODIFICAR -->
    <div class="indice"> 
  
                <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
                 
                 <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
                  alt="INDICE" title="Indice"></a>
                </div> 
 
                <div class="credito"> 
                    <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                        <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                        Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                        Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
                    </div>
        </div>