---
layout: post
title: "Muriel" 
permalink: muriel
---

  

   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Teo Salvarrey - salvarreyteo@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/muriel.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=Mps49Z9hap8" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Muriel ou le Temps d'un retour</p>

        <h3>Título de la película. (en español)</h3>
            <p>Muriel</p>

        <h3>Año de Estreno</h3>
            <p>1963</p>

        <h3>Dirección</h3>
            <p>Alain Resnais</p>

        <h3>País de Origen</h3>
            <p>Francia</p>

        <h3>Productora</h3>
            <p>Argos Films; Alpha Productions; Éclair; Les Films de la Pléiade (Paris); Dear Films (Rome)</p>

        <h3>Guionistas</h3>
            <p>Jean Cayrol; Alain Resnais</p>

        <h3>Género Cinematográfico</h3>
            <p>Drama</p>
          
        <h3>Fotografía</h3>
            <p>Sacha Vierny</p>

        <h3>Música</h3>
            <p>Hans Werner Hense</p>

        <h3>Premios y Nominaciones</h3>
            <p>León de Oro</p>
        </div>

        <div class="fichasinopsis"> 
                   
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>Hélene vende antiguedades en un ambiente venido a menos y recibe una visita de un viejo amor. Su hijastro es Bernard, el protagonista de la película es Bernard, que acaba de retornar a Francia después de pasar 22 meses en campaña en Argelia. Al comenzar el film Bernard se nos presenta como un personaje atravesado por un profundo malestar: actúa como un extraño en su entorno y nombra constantemente a su supuesta amiga, Muriel. El espectador no reconoce y no puede delimitar de dónde viene el trauma del protagonista hasta el plot point. </p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>El siguiente trabajo se propone analizar las representaciones cinematográficas que se hacen de la guerra de Argelia en un período particular: los años sesenta. En este caso se hace hincapié en el caso francés. El cine como fuente histórica muestra huellas y rastros de la sociedad y que se constituye también como agente de la Historia, ya que interviene de manera concreta en la configuración de la memoria social. Por tanto analizaremos el trauma y su posterior recurso a la amnesia –como contracara de la memoria-, así como la omisión que se hace sobre la guerra de Argelia en el cine Francés, intentando rastrear cuales son los elementos que afectan la estructura social en su conjunto. </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>La película ocurre en el año 1962, a lo largo de 15 días. Esta es la fecha en al que termina la guerra de Argelia. El hecho histórico brilla por su marginalidad: la guerra de argelia y el trauma experimentado por la sociedad francesa en su memoria colectiva. </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p> Muriel no sólo fue un fracaso en su recepción por parte del del público, sino que también formó parte de un lista negra en la que el gobierno francés censuraba distintos films en el marco de la Centre National de la Cinématographie (CNC), en este caso censurada por el trato indirecto a la guerra de Argelia.   La Commission de contrôle des films tenía la prerrogativa de detener cualquier proyecto fílmico en curso, así como seleccionar qué consideraba oportuno mostrar en las pantallas en miras de eliminar cualquier producción que tendiera a “peligrar” o dislocar a la sociedad en su conjunto. Los debates del comité no eran públicos y era la función del presidente emitir un dictamen, así como comunicar a los respectivos productores si sus filmes eran prohibidos, censurados o no.
                Un dato acerca del director: Alain Resnais. Él fue uno de los signatarios de la "Declaración sobre el derecho a la rebelión en la guerra de Argelia", más comúnmente llamado el "Manifiesto de 121", un llamamiento firmado por 121 intelectuales en Francia que abogaba por la desobediencia militar y el reconocimiento de la legitimidad de la guerra de Argelia como una lucha por la independencia, así como la denuncia de la tortura ejercida por el ejército francés.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Fontana, Pablo Gabriel.  “Memorias traumáticas entre propagandas y subversión. La representación del exterminio nacionalsocialista en el cine de la URSS y la RDA durante el Deshielo”. PhD diss., Universidad de Buenos Aires, Facultad de Filosofía y Letras, 2017. </li>
                <li>Bancel, Nicolas, Blanchard, Pascal y Vergès, Françoise. La République coloniale: essai sur une utopie, París: Hachette, 2006. </li>
                <li>Stora, Benjamin. “The Algerian War: Memory through Cinema” Black Camera, Vol. 6, No. 1 (Indiana University Press 2014): 96-107, https://doi.org/10.2979/blackcamera.6.1.96</li>
 

<!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

            <div class="arriba"> 
                <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/muriel">
                              
                  <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
                   alt="ARRIBA" title="ARRIBA"></a>
            </div> 


      <!--  NO MODIFICAR -->
    <div class="indice"> 
  
                <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
                 
                 <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
                  alt="INDICE" title="Indice"></a>
        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>