---
layout: post
title: "Sr. Muerte: El auge y la caída de Fred A. Leuchter, Jr." 
permalink: srmuerte
---
  
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Natasha Almada - natasha.almada@gmail.com</p>
    </div>

<div class="fichatecnica"> 
   
        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/mrdead.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=N2Hc7hUYivU&t=5s" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Mr. Death : The Rise and Fall of Fred A. Leuchter, Jr.</p>

        <h3>Título de la película. (en español)</h3>
            <p>Sr. Muerte: El auge y la caída de Fred A. Leuchter, Jr. </p>

        <h3>Año de Estreno</h3>
            <p>1999</p>

        <h3>Dirección</h3>
            <p>Errol Morris</p>

        <h3>País de Origen</h3>
            <p>EE.UU/U.K</p>

        <h3>Productora</h3>
            <p>Independent Film Channel (IFC) / Channel Four / Fourth Floor Pictures/ Scout Productions</p>

        <h3>Guión</h3>
            <p>Libro Orginal</p>

        <h3>Guionistas</h3>
            <p>Errol Morris</p>

        <h3>Género Cinematográfico</h3>
            <p>Histórico</p>
            <p>Documental</p>

        <h3>Fotografía</h3>
            <p>Peter Donahue</p>

        <h3>Música</h3>
            <p>Caleb Sampson</p>

        <h3>Premios y Nominaciones</h3>
            <p>Mejor Documental (DFWFCA Award 2000)</p>
        </div>

        <div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>La película narra la vida de Fred Leuchter Jr., un diseñador de maquinas de ejecución. En un principio muestra como Leuchter se desarrolla laboralmente en su campo, como era su familia y su vida privada. En una segunda parte, se concentra en como Leutcher es contratado por un negador del Holocausto, Ernst Zündel, para investigar sobre las muertes en campos de concentración durante la segunda guerra mundial y cómo este hecho cambia completamente su vida tanto personal como laboral.</p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>La pelicula es interesante para analizar desde dos posibles ejes: en primer lugar, desde el eje que plantea la discusión fáctica sobre las muertes durante el Holocausto judío, sobre el negacionismo como fenomeno historico y sobre cómo es el procedimiento apropiado para realizar una investigación de los hechos del pasado. En segundo lugar, acerca de cómo la postura histórica sostenida por la película se construye no solo mediante información y entrevistas sino también mediante elementos plenamente cinematográficos, tales como la musica, la utilización de reenactments, los planos de la camara, etc, lo cual a su vez nos permite reflexionar sobre las herramientas que posee el cine para no solo narrar hechos del pasado sino también construir sentido histórico. </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>La pelicula se estructura siguiendo la vida de Fred Leucther, nacido en 1943 en Massachusetts. En una primera parte vemos cómo fue su infancia, que lo llevó a dedicarse a lo que se dedicó y como se desarrolló laboralmente en varias cárceles de Estados Unidos construyendo maquinas de ejecución. Luego se concentra en todo el proceso de investigación y escritura del Reporte Leuchter en el año 1988 y el cambio significativo que este hecho tuvo en su vida, su pérdida de trabajo y su involucramiento directo y cada vez más comprometido con las organizaciones de negacionistas del Holocausto. </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>La película se estrenó en 1999 y si bien recibió buenas criticas no tuvo la cobertura que tuvieron otras peliculas del mismo director, por ejemplo The Thin Blue Line
                en 1988 o años después The fog of War en 2003. Estos dos ejemplos son muy interesantes porque son peliculas pensadas plenamente a partir de circunstancias en su momento actuales, ya sea el recrudecimiento de violencia policial que se observó en Estados Unidos a partir de la decada de los 80' o un contexto de guerra posterior al atentado a las torres generales a principios de los 2000. A diferencia de estos casos, Mr Death es una pelicula que reflexiona sobre el negacionismo y sobre la manera en que recordamos y hacemos historia. En ese sentido la pelicula no está tan plenamente relacionada con su contexto politico, economico o social como podrían serlo otras del mismo director. </p>

        <h3>Valoración crítica de la película</h3>
            <p>Creo que Mr Death es muy interesante para analizar un hecho histórico como el Holocausto porque plantea su narrativa desde otro lugar diferente al de muchas otras películas que tratan sobre el mismo tema. No pretende narrar acontecimientos sucedidos en un campo de concentración o en las diferentes etapas bélicas del conflicto, sino que se concentra en otros elementos históricos relacionados a la investigación, al respeto, a quién y cómo se puede realizar una investigación histórica.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Zoë Druick (2007) Documenting false history: Errol Morris and Mr. Death, Studies in Documentary Film, 1:3, 207-219, DOI: 10.1386/sdf.1.3.207_1 </li>
                <li>The Friendly Executioner, The New Yorker, 1999 http://errolmorris.com/content/profile/singer_executioner.html </li>
                <li>David Resha (2015). The cinema of Errol Morri, Wesleyan University Press</li>
                
            </p>

 <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

 <div class="arriba"> 
    <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/srmuerte">
                  
      <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
       alt="ARRIBA" title="ARRIBA"></a>
</div> 


<!--  NO MODIFICAR -->
<div class="indice"> 

    <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
     
     <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
      alt="INDICE" title="Indice"></a>       
        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>