---
layout: post
title: "Star Wars" 
permalink: starwars
---
   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Julieta González - julijaz_2001@hotmail.com.ar</p>
    </div>

<div class="fichatecnica"> 
   
        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/sw.jpg/>
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=ROldCLyPn9k" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>): Originalmente se llamó solo con el nombre de ''Star Wars''. Pero más tarde el director la cambio por ''Star Wars: Episode IV - A New Hope''.</p>

        <h3>Título de la película. (en español)</h3>
            <p>La Guerra de las Galaxias: Episodio IV - Una Nueva Esperanza.</p>

        <h3>Año de Estreno</h3>
            <p>1977</p>

        <h3>Dirección</h3>
            <p>George Lucas</p>

        <h3>País de Origen</h3>
            <p>Estados Unidos</p>

        <h3>Productora</h3>
            <p>Lucasfilm y 20th Century Fox. </p>

        <h3>Guión</h3>
            <p>Libro Original</p>

        <h3>Guionistas</h3>
            <p>George Lucas. </p>

        <h3>Género Cinematográfico</h3>
            <p>Ciencia ficción</p>
            <p>space opera</p>
            <p>fantasía</p>
            <p>aventura</p>
        
            
        <h3>Fotografía</h3>
            <p>Gilbert Taylor.</p>

        <h3>Música</h3>
            <p>John Williams</p>

        <h3>Premios y Nominaciones</h3>
            <p><li>Estuvo nominada a once categorías en los Premios Óscar de las cuales fueron ''mejor película'', ''mejor director'', ''mejor actor de reparto'', ''mejor guion original'', y gano a ''mejor dirección de arte'', ''mejor diseño de vestuario'', ''mejores efector visuales'', ''mejor montaje'', ''mejor banda sonora'', ''mejor banda sonora'' y el ''Premio especial al mérito''. </li>
                <li>En los Premios Globo de Oro estuvo nominada en cuatro categorías, de las cuales gano una a ''mejor banda sonora''. </li>
                <li>En los Premios Saturn fue nominada a once categorías, y gano todas. Entre estas incluye ''mejor actor'', ''mejor actriz'', ''mejor director'', ''mejor música'', ''mejor guion'', ''mejores efectos especiales'', entre otros. </li>
                <li>En los Premios BAFTA fue nominado en seis categorías y gano solo dos, las cuales son ''mejor sonido'' y el ''Premio Anthony Asquith a la mejor música de cine'' para John Williams. </li>
                <li>En los Premios Grammy gano a ''mejor banda sonora escrita para una película''. </li>
                <li>Y finalmente en los MTV Movie Awars, gano a ''premio a la trayectoria'' por el personaje Chewbacca. </li>
                </p>
            </div>

            <div class="fichasinopsis"> 
            
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>La princesa Leia, líder del movimiento rebelde que desea reinstaurar la República en la galaxia en los tiempos ominosos del Imperio, es capturada por las Fuerzas Imperiales, dirigidas por el implacable Darth Vader, el sirviente más fiel del Emperador. El intrépido y joven Luke Skywalker, ayudado por Han Solo, capitán de la nave espacial "El Halcón Milenario", junto a Chewbacca, y los androides, R2D2 y C3PO, serán los encargados de luchar contra el enemigo e intentar rescatar a la princesa para volver a instaurar la justicia en el seno de la galaxia. </p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Me intereso no solo sabiendo que fue una revolución para el cine con sus efectos especiales, sino también por el claro mensaje político y social que quiere transmitir el director. Así, el auténtico propósito de George Lucas acaba siendo modernizar el arquetipo mitológico adaptándolo para ello a un universo regido por las máquinas, la tecnología y el uso por parte de los humanos del avance científico. Se trata, pues, de un intento por hacer que el perenne relato moralizador no reduzca su vigencia, acondicionando la carga de la historia a las necesidades y capacidades de un consumidor de cultura media. Es por ello, que utilizar una película aparentemente distanciada de la realidad material, que además proponga un modelo de relato anclado en nuestro inconsciente colectivo, parece ser un método que garantiza su eficacia y asegura su finalidad: Introducir una serie de ideas moralizantes y ayudar a divulgar las bases de un modelo político y un determinado orden social. </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>La década de los setenta, período en el que se exhibe la primera película de la saga: Star Wars: Episodio IV-Una nueva esperanza (1977), resulta ser una época profundamente marcada por un clima de enfrentamiento político entre EE.UU. y la Unión Soviética. De lleno inmersos en la Guerra Fría, en un clima de hostilidad bipolar entre dos grandes potencias que protagonizaron enfrentamientos bélicos a gran escala y en dura pugna internacional por alcanzar la hegemonía política, el mundo de las artes se puso al servicio de los designios políticos para realizar labores de propaganda</p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>20th Century Fox, cautelosa ante la posibilidad de que otras películas veraniegas como vencieran a Star Wars en taquilla, trasladó la fecha de estreno al miércoles anterior al Memorial Day, es decir, el 25 de mayo de 1977. No obstante, la escasa publicidad que tuvo la película provocó que menos de cuarenta salas de cine aceptaran proyectarla y, en respuesta a ello, Fox exigió que para exhibir ''Más allá de la medianoche'', película basada en el best seller homónimo de Sidney Sheldon (y que la productora iba a estrenar en ese mismo período), debían reservar también Star Wars.   
                La película fue estrenada finalmente en 37 salas de Estados Unidos, resultando ser un éxito inmediato. Durante las tres primeras semanas de su proyección, las acciones de Fox doblaron su valor, mientras que sus ganancias anuales pasaron de 37.000.000 a 79.000.000 dólares en 1977. Este éxito consiguió trasladarse también al resto del mundo, en parte por la neutralidad cultural de la película. Los que vivieron aquel día recuerdan largas colas para entrar en las salas, regresar al día siguiente para disfrutar de nuevo de un filme que los marcaría de por vida, simular luchas con palos como si fueran espadas láser, construir naves con lo primero que tenían a mano, tararear la canción todo el día, hasta hablar como Yoda. Sin duda, en su estreno logro romper con muchas expectativas y abrirle nuevas oportunidades a George Lucas y a todos los fans de esta película. 
                </p>

        <h3>Valoración crítica de la película</h3>
            <p>Una Nueva Esperanza es una ficción, pero no muy alejada de la realidad. Más allá de las cuestiones históricas, sociales y culturales, a unos engranajes internos que vuelven lo que sería una historia ya vista, ya conocida, en algo nuevo, en algo que, finalmente, es capaz de hacernos pasar lo que se define no solo como un buen rato, sino que llega a ser una experiencia completa. Se puede hablar de la facilidad con la que se dividen los personajes de la película entre buenos y malos, y como este mal siempre trata de destruir la libertad y esperanza del bien.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>https://historia-biografia.com/historia-de-star-wars/</li>
                <li>https://starwars.fandom.com/es/wiki/Star_Wars:_Episodio_IV_Una_Nueva_Esperanza</li>
                <li>https://www.facebook.com/watch/?v=274156710293350 (el video no lo conseguí en Youtube, pero está en Facebook, se llama ''The Making Of Star Wars, 1977'', por si no aparece en el enlace). </li>
                
            </p>

        <h3>Artículos de Interés</h3>
        <p> 
            Elegí poner este articulo ya que ''Rogue One: Una Historia de Star Wars'' es la historia, cronológicamente, que transcurre antes de Una Nueva Esperanza. 
https://starwars.fandom.com/es/wiki/Rogue_One:_Una_Historia_de_Star_Wars </p>

 <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

 <div class="arriba"> 
    <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/starwars">
                  
      <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
       alt="ARRIBA" title="ARRIBA"></a>
</div> 


<!--  NO MODIFICAR -->
<div class="indice"> 

    <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
     
     <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
      alt="INDICE" title="Indice"></a>

        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>