---
layout: post
title: "Strange Victory"
permalink: StrangeVictory
---

<div class="autor"> 
        <h1>Autoría y Contacto</h1>
<p>Matias Rivas - matiaslrivas@gmail.com</p>
        </div>

<div class="fichatecnica"> 
        <h2>Ficha técnica</h2>
       
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/svposter.jpg/ >
       

   </div> 
                       
 
       <h3>Título de la película. (en idioma original)</h3>
            <p>Strange Victory</p>

                <h3>Año de Estreno</h3>
            <p>1948</p>

        <h3>Dirección</h3>
            <p> Leo Hurwitz </p>

        <h3>País de Origen</h3>
            <p>Estados Unidos</p>

        <h3>Productora</h3>
            <p>Target Films</p>

        <h3>Guión</h3>
            <p>Libro Original</p>

        <h3>Guionistas</h3>
            <p>Leo Hurwitz (guion), Saul Levitt (narración)</p>

       
        <h3>Género Cinematográfico</h3>
            <p>Histórico</p>
            <p>Documental</p>

        <h3>Fotografía</h3>
            <p>Peter Glushanok, George Jacobson</p>

        <h3>Música</h3>
            <p>David Diamond</p>

        <h3>Premios y Nominaciones</h3>
            <p>Nominada a mejor película en el Festival de Cine de Venecia (1948).</p>
            <p>Premio en el Festival de cine de Karlovy Vary (1949). </p>
        </div>

        <div class="fichasinopsis"> 
        
    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>En 1948, en el clima de optimismo de posguerra y del inicio de la Guerra Fría, 
                Hurwitz y su equipo se animaron a cuestionar el sentido de la victoria y a denunciar 
                que el antisemitismo y la segregación racial persistían en la vida cotidiana estadounidense, 
                es decir, que las ideas abiertamente racistas del perdedor seguían activas en la tierra del 
                vencedor. Strange Victory no tuvo éxito comercial y cayó en el olvido, pero se convirtió en un 
                extraordinario retrato cinematográfico del fascismo
                 estadounidense de posguerra y en un documental imprescindible de nuestra época. </p>

       
    <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Strange Victory posee un notable valor histórico, político y cinematográfico. 
                En primer lugar, como documento de un discurso histórico de izquierda, que en el marco del 
                optimismo de posguerra y el inicio de la Guerra Fría cuestionó la continuidad de la discriminación 
                religiosa y la segregación racial en los Estados Unidos. En segundo lugar, como testimonio del 
                trabajo de los cineastas de izquierda entre los años 1945 y 1954, del cual Hurwitz, con Strange
                 Victory, fue su mejor expresión. En tercer lugar, porque permite entender mejor la relación cine
                  y comunismo: talentosos directores como Hurwitz se vieron genuinamente identificados con el 
                  comunismo e influenciados por experiencias internacionales, pero a su vez hicieron su camino 
                  independiente, siempre ligado a la historia y los problemas de su país. Por último, porque el 
                  planteo del documental mantiene toda su vigencia, como demuestra la 
                continuidad e incluso el reforzamiento del racismo y el fascismo en Estados Unidos y el mundo. </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>Strange Victory no sigue un orden cronológico. Si así fuese, debería comenzar con el ascenso y 
                consolidación de Hitler, continuar con la Segunda Guerra Mundial, la derrota del nazismo y la 
                celebración de la victoria, para terminar con la continuidad del odio racial y religioso en la 
                posguerra. Pero Hurwitz va y viene en el tiempo y no avanza a partir de una secuencia 
                conflicto-resolución sino mediante giros, contrastes e imágenes que se repiten con diferentes sentidos, para ser resignificadas.</p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p> Strange Victory tuvo su pre-estreno el 27 de abril de 1948 en New York, donde fue exhibida durante 
                una semana (acoplada con The Challenge, de Alexander Korda). Su estreno definitivo fue el 25 de 
                septiembre del mismo año en el Ambassador Theatre, también en New York. Desde luego, los medios 
                de comunicación conservadores asociaron a Strange Victory con el comunismo, como fue el caso del 
                New York Daily News. Este tipo de acusaciones contribuyeron 
                a que en 1950 el nombre de Hurwitz apareciera en la publicación anticomunista Red Channels y 
                estuviese en la lista negra de cineastas durante más de una década. Sin embargo, la mayoría de
                los críticos de cine elogiaron la película por obligar a las audiencias a reconocer la hipocresía 
                de la sociedad estadounidense de posguerra. A pesar de ello, Strange Victory no volvió a ser 
                exhibido en teatros o salas comerciales. Con excepción de la presentación organizada por la familia
                 de Barney Rosset en una institución católica de Chicago, ningún otro sector social y político
                  mostró interés alguno en el documental. Dado el fracaso en Estados Unidos, Rosset se fue a 
                  Europa en diciembre de 1948: en Praga, vendió Strange Victory a Ceskoslovensky Stanti Film por
                   3000 dólares. Sin embargo, Rosset no tuvo éxito en conseguir un mercado en la URSS, Polonia 
                   y Hungría. Finalmente, se dio por vencido y Strange Victory cayó en el olvido. En 1964, Hurwitz 
                   agregó un breve epílogo sobre el movimiento de lucha por los derechos civiles, aunque luego el 
                   propio director decidió que la adición no mejoraba el documental y pidió que no se incluyera en
                    las versiones futuras. Strange Victory continuó en el olvido, al menos hasta que Milestone 
                    Films lo restauró y puso a la venta en 2015; los comentarios elogiosos de grandes críticos 
                    y estudiosos del cine como David Bordwell o Richard Brody contribuyeron a aumentar el interés 
                    por el documental, pero aún son pocos los trabajos históricos que van más allá de una reseña 
                    o breve mención secundaria. </p>

        <h3>Valoración crítica de la película</h3>
            <p>Strange Victory nos ofrece una visión crítica de la historia estadounidense, 
            que desafió el sentimiento patriótico y triunfalista de posguerra al exponer la 
            contradicción entre la supuesta defensa de valores democráticos y la continuidad 
            de una estructura de segregación racial. Con ello, Hurwitz y Rosset fueron más allá 
            de lo que podía decirse en ese contexto y no lograron encontrar aliados que apoyen
             el documental. La persistencia del racismo y el auge de tendencias fascistas le 
             otorgan a su planteo una profunda actualidad.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>-Cripps, T. 1993. Making movies black: the Hollywood message movie from World War II to the civil rights era. New York: Oxford University Press. </li>

                <li>-Gontarski, S. 1999. Barney Rosset's “Strange Victory”: Race Relations and Political Resistance in Postwar America. En Irish Journal of American Studies. Volumen 8, pp. 61-77. </li>

                <li>-Klein, M., Klein J. y Hurwitz L. 1974. NATIVE LAND: An Interview with Leo Hurwitz. En Cinéaste, N°6, pp. 2-7. </li>

                <li>-Musser, C. 2009. Carl Marzani and Union Films: Making Left-Wing Documentaries during the Cold War, 1946–53. En The Moving Image: The Journal of the Association of Moving Image Archivists. Volumen 9, N° 1. </li>

                <li>-Radosh, R. y Radosh, A. 2005. Red Star over Hollywood. The Film Colony’s Long Romance with the Left. California: Encounter Books.  </li>

                <li>-Robé, C. 2010. Left of Hollywood: Cinema, Modernism, and the Emergence of U.S. Radical Film Culture. University of Texas Press. </li>
               
                <li>--An Equal Chance (EE.UU.: New York State Commission Against Discrimination / March of Time, 1949) </li>

                <li>--Crossfire (EE.UU.: RKO, 1947), Edward Dmytryk</li>
                
                <li>--Deadline for Action (EE. UU.: Union Films / United Electrical, Radio and Machine Workers, 1946), Carl Marzani</li>
                
                <li>--Home of the Brave (EE.UU.: Stanley Kramer Productions, 1949), Mark Robson</li>
                
                <li>--Intruder in the Dust (EE.UU.: MGM, 1949), Clarence Brown</li>
                
                <li>--Let There be Light (EE.UU: U.S. Army Pictorial Services, 1946), John Huston</li>
                
                <li>--Lost Boundaries (EE.UU.: Louis De Rochemont Associates, 1949), Alfred L. Werker</li>
                
                <li>--No way Out (EE.UU.: 20th Century Fox, 1950), Joseph L. Mankiewicz</li>
                
                <li>--Obscene (EE.UU.: Double O Film Productions, 2007), Daniel O'Connor y Neil Ortenberg</li>
                
                <li>--Pinky (EE.UU.: 20th Century Fox, 1949), Elia Kazan</li>
                
                <li>--The Brotherhood of Man (EE.UU.: United Productions of America, 1946), Robert Cannon</li>
                
                <li>--The Negro Soldier (EE.UU.: U.S. War Department, 1944), Stuart Heisler</li>
                
                <li>--The Quiet One (EE. UU.: Film Documents, 1948), Sidney Meyers</li>
                
            </p>

            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/svposter2.png/>
            
 <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

 <div class="arriba"> 
    <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/StrangeVictory">
                  
      <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
       alt="ARRIBA" title="ARRIBA"></a>
</div> 


<!--  NO MODIFICAR -->
<div class="indice"> 

    <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
     
     <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
      alt="INDICE" title="Indice"></a>       
       
        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>