---
layout: post
title: "Velvet Goldmine" 
permalink: velvetgoldmine
---
   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Chiara Castellini - chiaracastelliniof@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   

        <h2>Ficha técnica</h2>
    
        <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/velvet.jpg/ >
       
            
   <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=Kqd8ChJ5xLk" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a>
   </div> 
     
           </p>
           </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Velvet Goldmine</p>

        <h3>Año de Estreno</h3>
            <p>1998</p>

        <h3>Dirección</h3>
            <p>Todd Haynes</p>

        <h3>País de Origen</h3>
            <p>Estados Unidos/Gran Bretaña</p>

        <h3>Productora</h3>
            <p>Newmarket Capital Group (EEUU), Goldwyn Films (EEUU), Channel Four Films (Gran Bretaña), Killer Films (EEUU)</p>

        <h3>Guión</h3>
            <p>Libro Original</p>

        <h3>Guionistas</h3>
            <p>Todd Haynes y James Lyons</p>

        <h3>Género Cinematográfico</h3>
            <p>Drama</p>
            <p>Musical</p>

        <h3>Fotografía</h3>
            <p>Maryse Alberti</p>

        <h3>Música</h3>
            <p>Randall Poster</p>

        <h3>Premios y Nominaciones</h3>
            <p><li>Palma de Oro a la mejor contribución artística en el Festival de Cannes (1998) </li>
                <li>Nominación a mejor director para Todd Haynes en Cannes (1998) </li>. 
                <li>Nominación al Oscar de Sandy Powell por mejor diseño de vestuario (1999). </li>
                <li>Premio BAFTA para Sandy Powell por mejor diseño de vestuario y nominación para Peter King en maquillaje y peinado (1999). </li>
                <li>Independent Spirit Award para Maryse Alberti por mejor cinematografía y nominación de Todd Haynes en mejor director y mejor película (1999). </li>
                </p>
            </div>

            <div class="fichasinopsis"> 
            
        

    <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>En la década de 1980, el joven periodista Arthur Stuart (Christian Bale) tiene la tarea de investigar que fue de la vida de Brian Slade (Jonathan Rys Meyers), una emblemática figura del Glam Rock de los años 70's que interpretaba a su personaje y alter-ego, Maxwell Demon, con la predicción de que este moriría en el escenario. En un acto de literalidad de la palabra, Slade finge su asesinato en pleno escenario y en ese momento su carrera cae a pique. Arthur, quien fue un gran fanático de Brian Slade, se pone en contacto con los personajes más cruciales de la vida del artista. </p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Velvet Goldmine es mucho más que un guiño constante a la vida de David Bowie. Este film es un homenaje a los iconos de la cultura queer que rompieron las barreras impuestas por el binarismo de género y que abrieron las puertas a un mundo de numerosas posibilidades para lxs niñxs y adolescentes que los veían en la televisión, nuevas posibilidades de ser y de expresarse. Esa es tal vez la conexión que halla Haynes entre Oscar Wilde y David Bowie. Entre glitter y plumas, esta historia también nos abre a nosotrxs nuevas posibilidades de pensar el ser queer en la actualidad. Este filme resulta muy disruptivo si lo sometemos a comparación con otras películas que representaron la identidad LGBT desde el estigma. </p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>Esta película no es un film histórico en el sentido más estricto de la palabra, sin embargo podemos establecer algunos hechos históricos. La película comienza con el nacimiento de Oscar Wilde en 1854. Esta narrada en la década de los 80's luego de la decadencia del Glam Rock que coincide con un ambiente más conservador. También esta el recorrido de la carrera de Brian Slade (basado en la discografía de David Bowie) con un primer momento musical más melódico influenciado por los Beatle y el entorno hippie durante los 60's y luego el momento de explosión de toda su excentricidad en los años 70's con la experimentación del Glam Rock. </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>Velvet Goldmine es considerada una de las operas del "Nuevo Cine Queer", un movimiento surgido en los años 90s que introduce en el cine una nueva representación más radical de las identidades LGBT+ que se alejan del ejemplo del "buen homosexual" conveniente para el estatus cis-heterosexual. Este movimiento es la contraparte de las representaciones LGBT+ centradas en cuestiones estigmatizantes como, por ejemplo, el VIH. Este tipo de películas surgen luego del ambiente conservador de los años 80s y durante un momento de redefinición del concepto de género de la mano de la teoría queer. También cabe destacar la influencia de una tercer ola feminista en los 90s. 
                Este film no encuentra términos medios. Es una gran decepción para el fanático riguroso de Bowie que esperaba un espejo de la vida este, es una película que no gustara a quien no se deje llevar por la estética y quien no entre en el juego fantasioso que ha creado Todd Haynes. El mismisimo Bowie la odio. Pero es una película muy amada por todxs lxs que vemos en ella una reivindicación de los iconos que nos abrieron las puertas para ser. </p>

        <h3>Valoración crítica de la película</h3>
            <p>Velvet Goldmine es un gran film para analizar desagregando cada escena y cada detalle perfectamente pensado en ella. Mientras más le prestamos atención, más nos damos cuenta a todos los lugares que nos puede llevar. Nos lleva a pensar cómo era ser homosexual en la época victoriana. Es por esto la constante referencia a Oscar Wilde como el primer icono queer. Nos hace pensar en la liberación sexual de los años 60s y 70s y el giro conservador de los años 80s que golpeara especialmente a la comunidad LGBT. </p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>Rich Ruby (2013) New Queer Cinema: The Director's Cut</li>
                <li>Judith Butler (1990) El Género En Disputa</li>
                <li>Gerónimo Iván García Calderón (2020) Miradas sobre lo queer: cine y representación</li>
                
            </p>

<!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

  <div class="arriba"> 
    <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/velvetgoldmine">
                  
      <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
       alt="ARRIBA" title="ARRIBA"></a>
</div> 


<!--  NO MODIFICAR -->
<div class="indice"> 

    <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
     
     <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
      alt="INDICE" title="Indice"></a>       
        </div>

        <div class="credito"> 
            <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
                <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
                Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
            </div>